
header{
    z-index: 4;
}


body {
    background-color: #131212;
    color: #f2f2f2;
    /*font-family: "Karma", sans-serif;*/			
    margin: 0;
    padding: 0;
}

/* Top navigation bar */
.topnav {
    background-color: #1d1c1a;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.Flickfinder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

/* Links inside the navigation bar */
.topnav a {
    display: flex;
    color: #f2f2f2;
    float: left;
    font-size: 16px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
.topnav a:hover{
    color:#165c96;
}
.right {
    position: absolute;
    left: 95%;
    transform: translateX(-50%);
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;   
}
/* new research bar  */
/* .box{
    margin-left: 40%;
    margin-right: 40%;
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.input {
    padding: 10px;
    width: 40px;
    height: 40px;
    background: none;
    border: 2px solid #165c96;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: "Karma", sans-serif;
    font-size: 26px;
    color: #ffffff;
    outline: none;
    transition: .5s;
}
.box:hover input{
    width: 550px;
    background: #fffeff21;
    border-radius: 5px;
}
.box i{
    position: absolute;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #165c96;
    transition: .2s;
}
.box:hover i{
    opacity: 0;
    z-index: -1;
} */


/* Search bar */
.search-container {
    display: flex;
    margin-top: 80px;
    justify-content: center;
}

.search-container input[type=text] {
    background-color: #f2f2f2;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    padding: 10px;
    width: 500px;
}

.search-container button {
    background-color: #165c96;
    border: none;
    border-radius: 20px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    padding: 10px;
} 


/* Movie recommendations grid */
.movie-grid {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 50px auto;
    max-width: 1200px;
    padding: 0 20px;
}

.movie-grid img {
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.2s;
    width: 100%;
}

.movie-grid img:hover {
    transform: scale(1.1) translateZ(0);
    z-index: 2; /* ensure the hovered image appears on top of the others */
}



.movie-grid h3, .movie-grid h6, .movie-grid p {
    margin: 10px 0;
    text-align: center;
}
/* Pagination style */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    }

.pagination a {
    color: #ffffff;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
    border-radius: 5px;
    margin: 0 5px;
    }

.pagination a.active {
    background-color: #165c96;
    color: #fff;
    }

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

footer {
    
    padding: 50px 0;
    }

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    }

h2 {
    font-size: 36px;
    margin-bottom: 20px;
    }

p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
    }