body {
  margin:0;
  padding:0;
  background: #3d3d3d;
}

button {
  position: relative;
  margin-top: 200px;
  margin-left: 300px;
  background: #444;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  letter-spacing: 0.1rem;
  font-size: 1rem;
  padding: 1rem 3rem;
  transition: 0.2s;
}
.buttonwatchlist {
  color: black; 
  border: 2px solid #165c96;
}

.buttonwatchlist:hover {
  background-color: #3d3d3d;
  box-shadow: 0 0 20px 0 rgba(22, 92, 150, 1);
  color: #1c75be;
  letter-spacing: 0.2rem;
  padding: 1.1rem 3.1rem;
}

