body {
    background-color: #131212;
    color: #f2f2f2;
    /*font-family: "Karma", sans-serif;*/			
    margin: 0;
    padding: 0;
}
/* Top navigation bar */
.topnav {
    background-color: #1d1c1a;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
.Flickfinder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}

/* Links inside the navigation bar */
.topnav a {
    display: flex;
    color: #f2f2f2;
    float: left;
    font-size: 16px;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
}
.topnav a:hover{
    color:#165c96;
}
.right {
    position: absolute;
    left: 95%;
    transform: translateX(-50%);
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    
}