<!DOCTYPE html>
<html>
  <head>
    <title>Flick Finder</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.12.1/css/all.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='CSS_files/stylesheet_main.css') }}"
    />
    <link
      rel="stylesheet"
      href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
    
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='JS_files/autocomplete.js') }}"></script>
  </head>

  <header>
    <!-- Top navigation bar -->
    <div class="topnav">
      <a href="main.html">Home</a>
      <a href="about.html">About</a>
      <div class="Flickfinder">FlickFinder</div>
      <a href="account.html" class="right">Account</a>
    </div>
  </header>
  <body>
    <!-- Search bar -->
    <div class="search-container">
      <input
        id="tags"
        type="text"
        name="searchText"
        placeholder="Search for a movie..."
      />
      <button class="searchFilm" id="search-btn" type="submit">Search</button>
      <script>
        $(document).ready(function () {
          $(".searchFilm").click(function () {
            const message = $("[name=searchText]").val();
            var formData = {
              myMessage: message,
            };

            if (message == "") {
            } else {
              $.ajax({
                url: "/_postExemple",
                type: "POST",
                crossDomain: true,
                data: formData,
                dataType: "text",
                success: function (data) {
                  alert(data);
                },
              });
            }
          });
        });
      </script>
    </div>

    <!-- Movie recommendations grid -->
    <div class="movie-grid">
      <div>
        <a href="movie_page.html"
          ><img
            src="{{ url_for('static',filename='PNG/Themenu.webp') }}"
            alt="Movie 1"
        /></a>
        <h3>The Menu</h3>
        <h6>Thriller</h6>
        <p>
          Un couple se rend sur une île isolée pour dîner dans un des
          restaurants les plus en vogue du moment, en compagnie d’autres invités
          triés sur le volet...
        </p>
      </div>
      <div>
        <img src="{{ url_for('static',filename='PNG/TheFabelmans.webp') }}" alt="Movie 2" />
        <h3>The Fabelmans</h3>
        <h6>Biopic, Drame &ensp; i &emsp;test</h6>
        <p>
          The Fabelmans de Steven Spielberg nous plonge dans l’histoire
          familiale du cinéaste qui a façonné sa vie personnelle et
          professionnelle...
        </p>
      </div>
      <div>
        <img src="{{ url_for('static',filename='PNG/TheWhale.webp') }}" alt="Movie 3" />
        <h3>The Wale</h3>
        <h6>Drame</h6>
        <p>
          Charlie, professeur d'anglais reclus chez lui, tente de renouer avec
          sa fille adolescente pour une ultime chance de rédemption...
        </p>
      </div>
      <div>
        <img src="{{ url_for('static',filename='PNG/JohnWick.webp') }}" alt="Movie 4" />
        <h3>John Wick: Chapter 4</h3>
        <h6>Action</h6>
        <p>
          John Wick découvre un moyen de vaincre l’organisation criminelle
          connue sous le nom de la Grande Table...
        </p>
      </div>
    </div>

    <div class="movie-grid">
      <div>
        <img src="{{ url_for('static',filename='PNG/creedIII.jpg') }}" alt="Movie 5" />
        <h3>creedIII</h3>
        <h6>Drame</h6>
        <p>
          Idole de la boxe et entouré de sa famille, Adonis Creed n’a plus rien
          à prouver. Jusqu’au jour où son ami d’enfance, Damian, prodige de la
          boxe lui aussi, refait surface...
        </p>
      </div>
      <div>
        <img src="{{ url_for('static',filename='PNG/le_bonheur_des_uns.webp') }}" alt="Movie 6" />
        <h3>Le bonheur des uns...</h3>
        <h6>Comédie</h6>
        <p>
          Léa, Marc, Karine et Francis sont deux couples d’amis de longue date.
          Le mari macho, la copine un peu grande-gueule, chacun occupe sa place
          dans le groupe...
        </p>
      </div>
      <div>
        <img src="{{ url_for('static',filename='PNG/everything_everywhere_all_at_once.webp') }}" alt="Movie 7" />
        <h3>Everything Everywhere all at Once</h3>
        <h6>Action, Comédie, Drame</h6>
        <p>
          Evelyn Wang est à bout : elle ne comprend plus sa famille, son travail
          et croule sous les impôts…
        </p>
      </div>
      <div>
        <img src="{{ url_for('static',filename='PNG/quantum.jpg') }}" alt="Movie 8" />
        <h3>Ant-Man et la guêpe: Quantumania</h3>
        <h6>Action, Aventure, Science fiction</h6>
        <p>
          Une nouvelle aventure attend Scott Lang et Hope van Dyne dans leur vie
          de couple et de super-héros !...
        </p>
      </div>
    </div>
    <!-- Pagination links -->
    <div class="pagination">
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
    </div>
  </body>
  <footer>
    <div class="container">
      <h3>About Us, The Recommandation website</h3>
      <br />
      <img
        src="{{ url_for('static',filename='PNG/ESME.jpg') }}"
        alt="Me"
        class="w3-image"
        style="display: block; margin: auto"
        width="100"
        height="100"
      />
      <h4><b>hello</b></h4>
      <h6><i>By Matteo Gentili and Robin Lotode</i></h6>
      <ul>
        <li>
          <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i 
            class="fab fa-twitter" 
            aria-hidden="true">
          </i></a>
        </li>
        <li>
          <a href="#"
            ><i class="fab fa-google-plus-g" aria-hidden="true"></i
          ></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
        </li>
        <li>
          <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
        </li>
      </ul>
    </div>
  </footer>
</html>
