<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_main.css') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='JS_files/autocomplete.js') }}"></script>
  </head>
  <!-- Top navigation bar -->
  <header>
    <div class="topnav">
      <a href="main.html">
        Home
      </a>
      <a href="about.html">
        About
      </a>
      <div class="Flickfinder">
        FlickFinder
      </div>
      <a href="account.html" class="right">
        Account
      </a>
    </div>
  </header>
  <body>
    <!-- Search bar -->
    <div class="search-container">
      <input id="tags" type="text" name="searchText" placeholder="Search for a movie..." />
      <button Search class="searchFilm" id="search-btn" type="submit"></button>
      <script>
        
                        $(document).ready(function () {
                        $(".searchFilm").click(function () {
                            const message = $("[name=searchText]").val();
                            var formData = {
                            myMessage: message,
                            };

                            if (message == "") {
                            } else {
                            $.ajax({
                                url: "/_postExemple",
                                type: "POST",
                                crossDomain: true,
                                data: formData,
                                dataType: "text",
                                // success: function (data) {
                                //   alert(data);
                                // },
                            });
                            }
                        });
                        });
                    
      </script>
    </div>
    <div class="movie-grid">
      <div>
        <a href="movie_page.html">
          <img src="{{ url_for('static', filename='PNG/Cars 3 (2017).webp') }}" alt="Movie: Cars 3 (2017)" />
        </a>
        <h3>Title</h3>
        <h6>Genre</h6>
        <p>Synopsys</p>
      </div>
      <div>
        <a href="movie_page.html">
          <img src="{{ url_for('static', filename='PNG/Cars 2 (2011).webp') }}" alt="Movie: Cars 2 (2011)" />
        </a>
        <h3>Title</h3>
        <h6>Genre</h6>
        <p>Synopsys</p>
      </div>
      <div>
        <a href="movie_page.html">
          <img src="{{ url_for('static', filename='PNG/Mater and the Ghostlight (2006).webp') }}" alt="Movie: Mater and the Ghostlight (2006)" />
        </a>
        <h3>Title</h3>
        <h6>Genre</h6>
        <p>Synopsys</p>
      </div>
      <div>
        <a href="movie_page.html">
          <img src="{{ url_for('static', filename='PNG/Christine (1983).webp') }}" alt="Movie: Christine (1983)" />
        </a>
        <h3>Title</h3>
        <h6>Genre</h6>
        <p>Synopsys</p>
      </div>
    </div>
    <div class="movie-grid">
      <div>
        <a href="movie_page.html">
          <img src="{{ url_for('static', filename='PNG/Duel (1971).webp') }}" alt="Movie: Duel (1971)" />
        </a>
        <h3>Title</h3>
        <h6>Genre</h6>
        <p>Synopsys</p>
      </div>
      <div>
        <a href="movie_page.html">
          <img src="{{ url_for('static', filename='PNG/Vanishing Point (1971).webp') }}" alt="Movie: Vanishing Point (1971)" />
        </a>
        <h3>Title</h3>
        <h6>Genre</h6>
        <p>Synopsys</p>
      </div>
      <div>
        <a href="movie_page.html">
          <img src="{{ url_for('static', filename='PNG/Days of Thunder (1990).webp') }}" alt="Movie: Days of Thunder (1990)" />
        </a>
        <h3>Title</h3>
        <h6>Genre</h6>
        <p>Synopsys</p>
      </div>
      <div>
        <a href="movie_page.html">
          <img src="{{ url_for('static', filename='PNG/Need for Speed (2014).webp') }}" alt="Movie: Need for Speed (2014)" />
        </a>
        <h3>Title</h3>
        <h6>Genre</h6>
        <p>Synopsys</p>
      </div>
    </div>
    <div class="movie-grid">
      <div>
        <a href="movie_page.html">
          <img src="{{ url_for('static', filename='PNG/Love Bug, The (1969).webp') }}" alt="Movie: Love Bug, The (1969)" />
        </a>
        <h3>Title</h3>
        <h6>Genre</h6>
        <p>Synopsys</p>
      </div>
      <div>
        <a href="movie_page.html">
          <img src="{{ url_for('static', filename='PNG/Fast and the Furious, The (2001).webp') }}" alt="Movie: Fast and the Furious, The (2001)" />
        </a>
        <h3>Title</h3>
        <h6>Genre</h6>
        <p>Synopsys</p>
      </div>
    </div>
    <!-- Pagination links -->
    <div class="pagination">
      <a href="#" class="active">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
    </div>
  </body>
  <footer>
    <div class="container">
      <h3>About Us, The Recommendation website</h3>

      <img src="{{ url_for('static',filename='PNG/ESME.jpg') }}" alt="Me" class="w3-image" style="display: block; margin: auto" width="100" height="100" />
      <h4><b>hello</b></h4>
      <h6><i>By Matteo Gentili and Robin Lotode</i></h6>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</html>