<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Greetings!</title>
    <link
      rel="stylesheet"
      href="https://pyscript.net/releases/2022.12.1/pyscript.css"
    />
    <script
      src="https://code.jquery.com/jquery-3.7.0.js"
      integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <input type="text" name="message" />
    <button class="send">Send Message</button>
  </body>
  <script>
    $(document).ready(function () {
      $(".send").click(function () {
        const message = $("[name=message]").val();
        var formData = {
          myMessage: message,
        };

        if (message == "") {
        } else {
          $.ajax({
            url: "/_postExemple",
            type: "POST",
            crossDomain: true,
            data: formData,
            dataType: "text",
            success: function (data) {
              alert(data);
            },
          });
        }
      });
    });
  </script>
</html>
