<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_main.css') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='JS_files/autocomplete.js') }}"></script>
  </head>
  <!-- Top navigation bar -->
  <header>
    <div class="topnav">
      <a href="/main.html">
        Home
      </a>
      <a href="/about.html">
        About
      </a>
      <div class="Flickfinder">
        FlickFinder
      </div>
      <a href="/account.html" class="right">
        Account
      </a>
    </div>
  </header>
  <body>
    <!-- Search bar -->
    <div class="search-container">
      <input id="tags" type="text" name="searchText" placeholder="Search for a movie..." />
      <button class="searchFilm" id="search-btn" type="submit">Search</button>
      <script>
        
        $(document).ready(function () {
        $(".searchFilm").click(function () {
            const message = $("[name=searchText]").val();
            var formData = {
            searchText: message,
            };

            if (message == "") {
            } else {
            $.ajax({
                url: "/_tfidf",
                type: "POST",
                crossDomain: true,
                data: formData,
                dataType: "text",
                    success: function (data) {
                    // alert(data);
                    window.location.href = "/similar_movies.html"; 
                },
            });
            }
        });
        });
        
      </script>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Catwalk (1996)">
        <img src="{{ url_for('static', filename='Images/scrap/Catwalk (1996).jpg') }}" alt="Movie: Catwalk (1996)" />
      </a>
      <h3>Catwalk (1996)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Unzipped (1995)">
        <img src="{{ url_for('static', filename='Images/scrap/Unzipped (1995).jpg') }}" alt="Movie: Unzipped (1995)" />
      </a>
      <h3>Unzipped (1995)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Ready to Wear (Pret-A-Porter) (1994)">
        <img src="{{ url_for('static', filename='Images/scrap/Ready to Wear (Pret-A-Porter) (1994).jpg') }}" alt="Movie: Ready to Wear (Pret-A-Porter) (1994)" />
      </a>
      <h3>Ready to Wear (Pret-A-Porter) (1994)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Valentino: The Last Emperor (2008)">
        <img src="{{ url_for('static', filename='Images/scrap/Valentino: The Last Emperor (2008).jpg') }}" alt="Movie: Valentino: The Last Emperor (2008)" />
      </a>
      <h3>Valentino: The Last Emperor (2008)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Mademoiselle C (2013)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Mademoiselle C (2013)" />
      </a>
      <h3>Mademoiselle C (2013)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/September Issue, The (2009)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: September Issue, The (2009)" />
      </a>
      <h3>September Issue, The (2009)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/One Little Pill (2014)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: One Little Pill (2014)" />
      </a>
      <h3>One Little Pill (2014)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Building a Broken Mousetrap (2006)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Building a Broken Mousetrap (2006)" />
      </a>
      <h3>Building a Broken Mousetrap (2006)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/In Vogue: The Editor?s Eye (2012)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: In Vogue: The Editor?s Eye (2012)" />
      </a>
      <h3>In Vogue: The Editor?s Eye (2012)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/George Michael: Freedom (2017)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: George Michael: Freedom (2017)" />
      </a>
      <h3>George Michael: Freedom (2017)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Beginner&quot;s Guide to Endings, A (2010)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Beginner&quot;s Guide to Endings, A (2010)" />
      </a>
      <h3>Beginner&quot;s Guide to Endings, A (2010)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Picture Me: A Model&quot;s Diary (2009)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Picture Me: A Model&quot;s Diary (2009)" />
      </a>
      <h3>Picture Me: A Model&quot;s Diary (2009)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Criminals (1996)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Criminals (1996)" />
      </a>
      <h3>Criminals (1996)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Joan Mitchell: Portrait of an Abstract Painter (1993)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Joan Mitchell: Portrait of an Abstract Painter (1993)" />
      </a>
      <h3>Joan Mitchell: Portrait of an Abstract Painter (1993)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/The First Monday in May (2016)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: The First Monday in May (2016)" />
      </a>
      <h3>The First Monday in May (2016)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Isolation (2015)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Isolation (2015)" />
      </a>
      <h3>Isolation (2015)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Made in Italy (2015)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Made in Italy (2015)" />
      </a>
      <h3>Made in Italy (2015)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Deseret (1995)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Deseret (1995)" />
      </a>
      <h3>Deseret (1995)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Lavell Crawford: Can a Brother Get Some Love? (2011)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Lavell Crawford: Can a Brother Get Some Love? (2011)" />
      </a>
      <h3>Lavell Crawford: Can a Brother Get Some Love? (2011)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Scatter My Ashes at Bergdorf&quot;s (2013)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Scatter My Ashes at Bergdorf&quot;s (2013)" />
      </a>
      <h3>Scatter My Ashes at Bergdorf&quot;s (2013)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Wallace & Gromit: The Best of Aardman Animation (1996)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Wallace & Gromit: The Best of Aardman Animation (1996)" />
      </a>
      <h3>Wallace & Gromit: The Best of Aardman Animation (1996)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    </div>
  </body>
  <footer>
    <div class="container">
      <h3>About Us, The Recommendation website</h3>

      <img src="{{ url_for('static',filename='Images/ESME.jpg') }}" alt="Me" class="w3-image" style="display: block; margin: auto" width="100" height="100" />
      <h4><b>hello</b></h4>
      <h6><i>By Matteo Gentili and Robin Lotode</i></h6>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</html>