@font-face{
  font-family: Montserrat;
  src: url('Montserrat-Light.ttf');
  font-weight:lighter;
  
}
*{
  font-family: Montserrat;
  /* border: 1px solid red; */
}
html {
  min-height: 100%
}

body {

  /* background-color: #d61f1f; */
  background: radial-gradient(ellipse at bottom, #132336 0%, #131212 100%);
  color: #f2f2f2;
  /*font-family: "Karma", sans-serif;*/
  margin: 0;
  padding: 0;
  height: 100%;
}
/* Top navigation bar */
.topnav {
  background-color: #1d1c1a;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}
.Flickfinder {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

/* Links inside the navigation bar */
.topnav a {
  display: flex;
  color: #f2f2f2;
  float: left;
  font-size: 16px;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
.topnav a:hover {
  color: #1b75be;
}
.right {
  position: absolute;
  left: 95%;
  transform: translateX(-50%);
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}
/* Genres movie */

.tag_drama {
  background: rgb(255, 87, 51);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_drama:hover {
  background: rgb(255, 138, 106);
}

.tag_comedy {
  background: rgb(255, 195, 0);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_comedy:hover {
  background: rgb(255, 221, 92);
}

.tag_thriller {
  background: rgb(165, 105, 189);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_thriller:hover {
  background: rgb(186, 143, 194);
}

.tag_romance {
  background: rgb(255, 133, 161);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_romance:hover {
  background: rgb(255, 166, 186);
}

.tag_action {
  background: rgb(52, 152, 219);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_action:hover {
  background: rgb(89, 166, 230);
}

.tag_horror {
  background: rgb(108, 52, 131);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_horror:hover {
  background: rgb(147, 99, 163);
}

.tag_documentary {
  background: rgb(72, 201, 176);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_documentary:hover {
  background: rgb(104, 231, 201);
}

.tag_crime {
  background: rgb(231, 76, 60);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_crime:hover {
  background: rgb(239, 119, 104);
}

.tag_no-genres-listed {
  background: rgb(128, 139, 150);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_no-genres-listed:hover {
  background: rgb(168, 179, 190);
}

.tag_adventure {
  background: rgb(255, 153, 0);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_adventure:hover {
  background: rgb(255, 183, 92);
}

.tag_sci-fi {
  background: rgb(0, 123, 255);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_sci-fi:hover {
  background: rgb(92, 155, 255);
}

.tag_mystery {
  background: rgb(155, 89, 182);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_mystery:hover {
  background: rgb(182, 133, 194);
}

.tag_children {
  background: rgb(0, 204, 102);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_children:hover {
  background: rgb(92, 214, 138);
}

.tag_animation {
  background: rgb(0, 153, 153);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_animation:hover {
  background: rgb(92, 179, 179);
}

.tag_fantasy {
  background: rgb(255, 102, 178);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_fantasy:hover {
  background: rgb(255, 140, 196);
}

.tag_war {
  background: rgb(128, 128, 128);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_war:hover {
  background: rgb(166, 166, 166);
}

.tag_western {
  background: rgb(244, 179, 80);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_western:hover {
  background: rgb(249, 203, 135);
}

.tag_musical {
  background: rgb(255, 204, 0);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
}

.tag_musical:hover {
  background: rgb(255, 225, 92);
}

.tag_film-noir {
  background: rgb(20, 20, 20);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
  color: white;
}

.tag_film-noir:hover {
  background: rgb(64, 64, 64);
}

.tag_imax {
  background: rgb(105, 105, 105);
  border-radius: 10px;
  padding: 3px 8px;
  font-size: 14px;
  margin-right: 4px;
  line-height: 35px;
  cursor: pointer;
  color: white;
}

.tag_imax:hover {
  background: rgb(150, 150, 150);
}

/* Image movie */
.container {
  position: relative;
  margin-top: 10%;
  margin-left: 5%;
  display: flex;
}

.img-container {
  max-width: 32%;
}
.img-container img {
  max-width: 100%;
  max-height: auto;
  border-image: linear-gradient(50deg, rgb(253, 253, 253), #ffffff00) 1;
  border-width: 8px;
  border-style: solid;
}

.synopsis-container {
  margin-left: 10%;
  margin-right: 22%;
  max-width: 100%;
  flex: 2;
  text-align: justify;
}
.synopsis-container h2 {
  margin-top: 0;
}
.cast {
  margin-left: 10%;
}
.cast p {
  color: #f2f2f2;
}

.stars_rating{
  font-size: 100%;
}
.stars_rating::after {
  content: "★"; /* adds the star symbol after the text */
  color: #f1ca2f; /* sets the color of the star symbol to yellow */
  text-shadow: 0 0 8px #fff9c3;
  font-size: 125%;  
}
.your_rating {
  font-size: 100%;
  padding-top: 1.7%;
}
/* movie rating */
.rate {
  align-items: center;
  display: flex;
}

/*button rating*/
.btn_rating {
  margin-left: 30%;
  padding: 1.5% 5%;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  /* user-select: none; */
}

.btn_rating:hover{
  color: #ffffff;
  background: #0059ff;
  border: 1px solid #0059ff;
  text-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 20px #ffffff;
  box-shadow: 0 0 5px #004cff,
              0 0 20px #004cff,
              0 0 50px #004cff,
              0 0 100px #004cff;
}
/* additionaltext */
.additional-text {
  margin-left: 700px;
  margin-right: 300px;
  margin-top: 50px;
  padding: 20px;
  text-align: justify;
}
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}

.popup-content {
  background: radial-gradient(ellipse at bottom, #132336 0%, #131212 100%);
  margin: 15% auto;
  padding: 2%;
  border-radius: 10px;
  border: 1px solid #888;
  width: 35%;
}
.popup-content h2 {
  margin-top: 0; 
}

/*starssssssss*/

  /* CSS for Pop-up */
  .popup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
  }

  .popup-content {
    background: radial-gradient(ellipse at bottom, #132336 0%, #131212 100%);
    margin: 15% auto;
    padding: 2%;
    border-radius: 10px;
    border: 1px solid #888;
    width: 35%;
  }

  .popup-content h2 {
    margin-top: 0;
  }

 /* CSS for Pop-up */
 .popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}

.popup-content {
  background: radial-gradient(ellipse at bottom, #132336 0%, #131212 100%);
  margin: 15% auto;
  padding: 2%;
  border-radius: 10px;
  border: 1px solid #888;
  width: 35%;
}

.popup-content h2 {
  margin-top: 0;
}

/* CSS for Star Rating */
/* CSS for Pop-up */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}

.popup-content {
  background: radial-gradient(ellipse at bottom, #132336 0%, #131212 100%);
  margin: 15% auto;
  padding: 2%;
  border-radius: 10px;
  border: 1px solid #888;
  width: 65%;
}


/* CSS for Pop-up */
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.9);
}

.popup-content {
  background: radial-gradient(ellipse at bottom, #132336 0%, #131212 100%);
  margin: 15% auto;
  padding: 2%;
  border-radius: 10px;
  border: 1px solid #888;
  width: 35%;
}

.popup-content h2 {
  margin-top: 0;
  text-align: center;
}

/* CSS for Star Rating */
.popup-content .rating {
  margin: 10px auto;
  width: 90%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center; 

}

.popup-content .rating > * {
  float: none; 
  display: inline-block;
}

.popup-content .rating label {
  height: 30px;
  width: 15%;
  display: inline-block; 
  position: relative;
  cursor: pointer;
}

.popup-content .rating label:after {
  transition: all 0.4s ease-out;
  -webkit-font-smoothing: antialiased;
  position: absolute;
  content: '☆';
  color: #444;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  font-size: 200%;
  animation: pulse 1s ease;
}

.popup-content .rating label:hover:after {
  color: #ffffff;
  text-shadow: 
              0 0 5px #ffffff,
              0 0 10px #facb8e,
              0 0 20px #fdd76f;
}

.popup-content .rating input {
  display: none;
}

.popup-content .rating input:checked + label:after,
.popup-content .rating input:checked ~ label:after {
  content: '☆';
  color: #444;
  text-shadow: none;
}

.popup-content .rating input:checked ~ #popup-r1 + label:after,
.popup-content .rating input:checked ~ #popup-r2 + label:after,
.popup-content .rating input:checked ~ #popup-r3 + label:after,
.popup-content .rating input:checked ~ #popup-r4 + label:after,
.popup-content .rating input:checked ~ #popup-r5 + label:after,
.popup-content .rating input:checked + label:after {
  content: '★';
  color: #F9BF3B;
  text-shadow: 0 0 20px #fbfbfa;
}

/* Animation */
@keyframes pulse {
  50% {
    color: #555;
    text-shadow: 0 0 15px #555;
  }
}

.Titlegrid{
  padding: 0%;
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 2%;
}


.movie-grid {
  display: grid;
  grid-gap: 2%;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  margin: 1% auto;
  max-width: 80%;
  padding: 0 20px;
  align-items: center;
}

.movie-grid img {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.2s;
  width: 100%;
  height: 90%;
}
.moviecontainer{
  max-width: 275px;
}

.movie-grid img:hover {
  transform: scale(1.1) translateZ(0);
  z-index: 2; /* ensure the hovered image appears on top of the others */
}

.movie-grid h3 {
  margin: 10px 0;
  text-align: center;
}


