<!DOCTYPE html>
<html>
  <head>
    <title>About FlickFinder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_about.css') }}" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='JS_files/autocomplete.js') }}"></script>
  </head>
  <body>
  <div class="topnav">
    <a href="main.html">Home</a>
    <a href="about.html">About</a>
    <div class="Flickfinder">FlickFinder</div>
    {% if currentUserId %}
    <button class="right disconnectButton" type="submit">
      Disconnect (connected as {{ currentUserId }})
    </button>
    {% else %}
    <a href="/account.html" class="right">
      Account
    </a>
    {% endif %}
  </div>
  <script>
    
      $(document).ready(function () {
      $(".disconnectButton").click(function () {
          $.ajax({
              url: "/_disconnect",
              type: "POST",
              crossDomain: true,
              success: function () {
                  window.location.href = "/main.html"; 
              },
          });
      });
      });
      
  </script>


    <div class="timeline">
      <ul>
        <li>
          <span>Date</span>
          <div class="content">
            <h3></h3>
            <p>texte</p>
          </div>
        </li>
        <li>
          <span>Date</span>
          <div class="content">
            <h3>Titre</h3>
            <p>texte</p>
          </div>
        </li>
        <li>
          <span>Date</span>
          <div class="content">
            <h3>Titre</h3>
            <p>texte</p>
          </div>
        </li>
        <li>
          <span>Date</span>
          <div class="content">
            <h3>Titre</h3>
            <p>texte</p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
