<!DOCTYPE html>
<html>
  <head>
    <title>Pure CSS Timeline Design With Cool Hover Effects</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_about.css') }}" />
  </head>
  <body>
  <div class="topnav">
    <a href="main.html">Home</a>
    <a href="about.html">About</a>
    <div class="Flickfinder">FlickFinder</div>
    <a href="account.html" class="right">Account</a>
  </div>


    <div class="timeline">
      <ul>
        <li>
          <span>Date</span>
          <div class="content">
            <h3></h3>
            <p>texte</p>
          </div>
        </li>
        <li>
          <span>Date</span>
          <div class="content">
            <h3>Titre</h3>
            <p>texte</p>
          </div>
        </li>
        <li>
          <span>Date</span>
          <div class="content">
            <h3>Titre</h3>
            <p>texte</p>
          </div>
        </li>
        <li>
          <span>Date</span>
          <div class="content">
            <h3>Titre</h3>
            <p>texte</p>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
