<!DOCTYPE html>
<html>
  <head>
    <title>Login to FlickFinder</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_account.css') }}" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='JS_files/autocomplete.js') }}"></script>
  </head>

  <body>
    <div class="topnav">
      <a href="home.html">Home</a>
      {% if currentUserId %}
      <a href="/mypredictions.html">My Predictions</a>
      {% endif %}
      <div class="Flickfinder">FlickFinder</div>
      {% if currentUserId %}
      <div class="right">
        <a href="/myratings.html"> My Ratings </a>
        <button class="disconnectButton"type="submit">
          Disconnect (connected as {{ currentUserId }})
        </button>
      </div>
        Connected as {{ currentUserId }}
      </button>
      {% else %}
      <a href="/account.html" class="right">
        Account
      </a>
      {% endif %}
    <script>
      
        $(document).ready(function () {
            $(".disconnectButton").click(function () {
                $.ajax({
                    url: "/_disconnect",
                    type: "POST",
                    crossDomain: true,
                    success: function () {
                        window.location.href = "/home.html"; 
                    },
                });
            });
        });
        
    </script>
    </div>

    <div class="main">
      <input type="checkbox" id="chk" aria-hidden="true" />
      <div class="login">
          <label for="chk" aria-hidden="true">Login</label>
          <input type="text" name="emailText" placeholder="UserId" required="" />
          <button type="submit" name="login" class="loginButton">Login</button>

      </div>

      <div class="signup">
        <form method="POST" action="home.html"></form>
        <label for="chk" aria-hidden="true">Sign up</label>
        <input type="text" name="txt" placeholder="Username" required="" />
        <input type="email" name="email" placeholder="Email" required="" />
        <input
          type="password"
          name="pswd"
          placeholder="Password"
          required=""
        />
        <button type="submit" name="signup">Sign up</button>
      </form>
      </div>
    <script>
      
      $(document).ready(function () {
      $(".loginButton").click(function () {
        const message = $("[name=emailText]").val();
        if (/^[1-9]\d*$/.test(message)) {
          var formData = {
          userId: message,
          };
          $.ajax({
            url: "/_login",
            type: "POST",
            crossDomain: true,
            data: formData,
            dataType: "text",
            success: function (data) {
                window.location.href = "/home.html"; 
            },
          });
        }
        else {
          alert("wrong userId");
          // window.location.href = "/account.html";
        }
      });
      });
        
    </script>
    </div>
  </body>
</html>
