<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_click_film.css') }}" />
  </head>
  <!-- Top navigation bar -->
  <header>
    <div class="topnav">
      <a href="/main.html">
        Home
      </a>
      <a href="/about.html">
        About
      </a>
      <div class="Flickfinder">
        FlickFinder
      </div>
      <a href="/account.html" class="right">
        Account
      </a>
    </div>
  </header>
  <body>
    {% if movieTitle %}
    <div class="container">
      <div class="img-container">
        {% if os.path.exists(images_path + "scrap\\" + movieTitle + ".jpg") %}
          <img src="{{ url_for('static', filename='Images/scrap/'~movieTitle~'.jpg') }}" alt="{{ movieTitle }}" />
        {% else %}
          <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="{{ movieTitle }}" />
        {% endif %}
      </div>
      <div class="synopsis-container">
        <h1>{{ movieTitle }}</h1>
        {% for genre in listgenre %}
          <span class="tag_{{ genre }}">{{ genre }}</span>
        {% endfor %}
        <p>2022&emsp;-&emsp;1h47m</p>
        <p>A young couple travels to a remote island to eat at an exclusive restaurant where the chef has prepared a lavish menu, with some shocking surprises.</p>
        <hr />
        <p>Director :</p>
        <hr />
        <p>Cast:&emsp;
          {% if listcast[0] == "_error" %} No cast found
          {% else %}
            {% for cast in listcast %}
              {{ cast }}
              {% if cast != listcast[-1] %} | {% endif %}
            {% endfor %}
          {% endif %}
        </p>
        <div class="rate">
        <h3 class="stars_rating">Rating&ensp;:&ensp;{{ meanRating }}&emsp;</h3>
        <h3 class="your_rating">Your Rating&ensp;:&emsp;</h3>
          <input type="radio" id="star1" name="rate" value="1" />
          <label for="star1" title="text"></label>
          <input type="radio" id="star2" name="rate" value="2" />
          <label for="star2" title="text"></label>
          <input type="radio" id="star3" name="rate" value="3" />
          <label for="star3" title="text"></label>
          <input type="radio" id="star4" name="rate" value="4" />
          <label for="star4" title="text"></label>
          <input type="radio" id="star5" name="rate" value="5" />
          <label for="star5" title="text"></label>
        </div>
      </div>
    </div>
    {% endif %}
  </body>
</html>
