<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      FlickFinder
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_main.css') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='JS_files/autocomplete.js') }}"></script>
  </head>
  <!-- Top navigation bar -->
  <header>
    <div class="topnav">
      <a href="/main.html">
        Home
      </a>
      {% if currentUserId %}
      <a href="/mypredictions.html">
        My Predictions
      </a>
      {% endif %}
      <div class="Flickfinder">
        FlickFinder
      </div>
      {% if currentUserId %}
      <div class="right">
        <a href="/myratings.html">
          My Ratings
        </a>
        <button class="disconnectButton" type="submit">
          <div>
            <span class="DisconnectConnectText">
              <p>
                Connected as {{ currentUserId }} 
              </p>
            </span>
          </div>
          <div>
            <span class="DisconnectConnectText">
              <p>
                Disconnect
              </p>
            </span>
          </div>
        </button>
      </div>
      {% else %}
      <a href="/account.html" class="right">
        Account
      </a>
      {% endif %}
    </div>
    <script>
      
        $(document).ready(function () {
        $(".disconnectButton").click(function () {
            $.ajax({
                url: "/_disconnect",
                type: "POST",
                crossDomain: true,
                success: function () {
                    window.location.href = "/main.html"; 
                },
            });
        });
        });
        
    </script>
  </header>
  <body style="margin-top: 10%;">
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Shawshank Redemption, The (1994)" id="Shawshank Redemption, The (1994)">
        <img src="{{ url_for('static', filename='Images/scrap/Shawshank Redemption, The (1994).jpg') }}" alt="Movie: Shawshank Redemption, The (1994)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Shawshank Redemption, The (1994)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Shawshank Redemption, The (1994)";
            });
        });
                        
      </script>
      <h3>Shawshank Redemption, The (1994)</h3>
      <h6>Predicted rating :</h6>
      <p>4.58</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Casablanca (1942)" id="Casablanca (1942)">
        <img src="{{ url_for('static', filename='Images/scrap/Casablanca (1942).jpg') }}" alt="Movie: Casablanca (1942)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Casablanca (1942)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Casablanca (1942)";
            });
        });
                        
      </script>
      <h3>Casablanca (1942)</h3>
      <h6>Predicted rating :</h6>
      <p>4.49</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Forrest Gump (1994)" id="Forrest Gump (1994)">
        <img src="{{ url_for('static', filename='Images/scrap/Forrest Gump (1994).jpg') }}" alt="Movie: Forrest Gump (1994)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Forrest Gump (1994)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Forrest Gump (1994)";
            });
        });
                        
      </script>
      <h3>Forrest Gump (1994)</h3>
      <h6>Predicted rating :</h6>
      <p>4.41</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Sixth Sense, The (1999)" id="Sixth Sense, The (1999)">
        <img src="{{ url_for('static', filename='Images/scrap/Sixth Sense, The (1999).jpg') }}" alt="Movie: Sixth Sense, The (1999)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Sixth Sense, The (1999)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Sixth Sense, The (1999)";
            });
        });
                        
      </script>
      <h3>Sixth Sense, The (1999)</h3>
      <h6>Predicted rating :</h6>
      <p>4.41</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Schindler&quot;s List (1993)" id="Schindler&quot;s List (1993)">
        <img src="{{ url_for('static', filename='Images/scrap/Schindler&quot;s List (1993).jpg') }}" alt="Movie: Schindler&quot;s List (1993)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Schindler&quot;s List (1993)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Schindler&quot;s List (1993)";
            });
        });
                        
      </script>
      <h3>Schindler&quot;s List (1993)</h3>
      <h6>Predicted rating :</h6>
      <p>4.4</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/It&quot;s a Wonderful Life (1946)" id="It&quot;s a Wonderful Life (1946)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: It&quot;s a Wonderful Life (1946)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/It&quot;s a Wonderful Life (1946)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/It&quot;s a Wonderful Life (1946)";
            });
        });
                        
      </script>
      <h3>It&quot;s a Wonderful Life (1946)</h3>
      <h6>Predicted rating :</h6>
      <p>4.38</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/To Kill a Mockingbird (1962)" id="To Kill a Mockingbird (1962)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: To Kill a Mockingbird (1962)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/To Kill a Mockingbird (1962)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/To Kill a Mockingbird (1962)";
            });
        });
                        
      </script>
      <h3>To Kill a Mockingbird (1962)</h3>
      <h6>Predicted rating :</h6>
      <p>4.36</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Godfather, The (1972)" id="Godfather, The (1972)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Godfather, The (1972)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Godfather, The (1972)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Godfather, The (1972)";
            });
        });
                        
      </script>
      <h3>Godfather, The (1972)</h3>
      <h6>Predicted rating :</h6>
      <p>4.34</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Paths of Glory (1957)" id="Paths of Glory (1957)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Paths of Glory (1957)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Paths of Glory (1957)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Paths of Glory (1957)";
            });
        });
                        
      </script>
      <h3>Paths of Glory (1957)</h3>
      <h6>Predicted rating :</h6>
      <p>4.31</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Toy Story 2 (1999)" id="Toy Story 2 (1999)">
        <img src="{{ url_for('static', filename='Images/scrap/Toy Story 2 (1999).jpg') }}" alt="Movie: Toy Story 2 (1999)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Toy Story 2 (1999)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Toy Story 2 (1999)";
            });
        });
                        
      </script>
      <h3>Toy Story 2 (1999)</h3>
      <h6>Predicted rating :</h6>
      <p>4.26</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Rear Window (1954)" id="Rear Window (1954)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Rear Window (1954)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Rear Window (1954)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Rear Window (1954)";
            });
        });
                        
      </script>
      <h3>Rear Window (1954)</h3>
      <h6>Predicted rating :</h6>
      <p>4.26</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Seven Samurai (Shichinin no samurai) (1954)" id="Seven Samurai (Shichinin no samurai) (1954)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Seven Samurai (Shichinin no samurai) (1954)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Seven Samurai (Shichinin no samurai) (1954)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Seven Samurai (Shichinin no samurai) (1954)";
            });
        });
                        
      </script>
      <h3>Seven Samurai (Shichinin no samurai) (1954)</h3>
      <h6>Predicted rating :</h6>
      <p>4.25</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Shining, The (1980)" id="Shining, The (1980)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Shining, The (1980)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Shining, The (1980)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Shining, The (1980)";
            });
        });
                        
      </script>
      <h3>Shining, The (1980)</h3>
      <h6>Predicted rating :</h6>
      <p>4.19</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Boondock Saints, The (2000)" id="Boondock Saints, The (2000)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Boondock Saints, The (2000)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Boondock Saints, The (2000)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Boondock Saints, The (2000)";
            });
        });
                        
      </script>
      <h3>Boondock Saints, The (2000)</h3>
      <h6>Predicted rating :</h6>
      <p>4.19</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Gladiator (2000)" id="Gladiator (2000)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Gladiator (2000)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Gladiator (2000)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Gladiator (2000)";
            });
        });
                        
      </script>
      <h3>Gladiator (2000)</h3>
      <h6>Predicted rating :</h6>
      <p>4.15</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)" id="Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)";
            });
        });
                        
      </script>
      <h3>Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb (1964)</h3>
      <h6>Predicted rating :</h6>
      <p>4.14</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Dead Poets Society (1989)" id="Dead Poets Society (1989)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Dead Poets Society (1989)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Dead Poets Society (1989)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Dead Poets Society (1989)";
            });
        });
                        
      </script>
      <h3>Dead Poets Society (1989)</h3>
      <h6>Predicted rating :</h6>
      <p>4.11</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Crash (2004)" id="Crash (2004)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Crash (2004)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Crash (2004)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Crash (2004)";
            });
        });
                        
      </script>
      <h3>Crash (2004)</h3>
      <h6>Predicted rating :</h6>
      <p>4.1</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Gandhi (1982)" id="Gandhi (1982)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Gandhi (1982)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Gandhi (1982)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Gandhi (1982)";
            });
        });
                        
      </script>
      <h3>Gandhi (1982)</h3>
      <h6>Predicted rating :</h6>
      <p>4.09</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Green Mile, The (1999)" id="Green Mile, The (1999)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Green Mile, The (1999)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Green Mile, The (1999)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Green Mile, The (1999)";
            });
        });
                        
      </script>
      <h3>Green Mile, The (1999)</h3>
      <h6>Predicted rating :</h6>
      <p>4.08</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Blade Runner (1982)" id="Blade Runner (1982)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Blade Runner (1982)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Blade Runner (1982)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Blade Runner (1982)";
            });
        });
                        
      </script>
      <h3>Blade Runner (1982)</h3>
      <h6>Predicted rating :</h6>
      <p>4.08</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Fight Club (1999)" id="Fight Club (1999)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Fight Club (1999)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Fight Club (1999)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Fight Club (1999)";
            });
        });
                        
      </script>
      <h3>Fight Club (1999)</h3>
      <h6>Predicted rating :</h6>
      <p>4.08</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Finding Nemo (2003)" id="Finding Nemo (2003)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Finding Nemo (2003)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Finding Nemo (2003)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Finding Nemo (2003)";
            });
        });
                        
      </script>
      <h3>Finding Nemo (2003)</h3>
      <h6>Predicted rating :</h6>
      <p>4.07</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Brazil (1985)" id="Brazil (1985)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Brazil (1985)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Brazil (1985)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Brazil (1985)";
            });
        });
                        
      </script>
      <h3>Brazil (1985)</h3>
      <h6>Predicted rating :</h6>
      <p>4.06</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Ocean&quot;s Eleven (2001)" id="Ocean&quot;s Eleven (2001)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Ocean&quot;s Eleven (2001)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Ocean&quot;s Eleven (2001)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Ocean&quot;s Eleven (2001)";
            });
        });
                        
      </script>
      <h3>Ocean&quot;s Eleven (2001)</h3>
      <h6>Predicted rating :</h6>
      <p>4.06</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Toy Story (1995)" id="Toy Story (1995)">
        <img src="{{ url_for('static', filename='Images/scrap/Toy Story (1995).jpg') }}" alt="Movie: Toy Story (1995)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Toy Story (1995)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Toy Story (1995)";
            });
        });
                        
      </script>
      <h3>Toy Story (1995)</h3>
      <h6>Predicted rating :</h6>
      <p>4.06</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Touching the Void (2003)" id="Touching the Void (2003)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Touching the Void (2003)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Touching the Void (2003)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Touching the Void (2003)";
            });
        });
                        
      </script>
      <h3>Touching the Void (2003)</h3>
      <h6>Predicted rating :</h6>
      <p>4.06</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Three Colors: Red (Trois couleurs: Rouge) (1994)" id="Three Colors: Red (Trois couleurs: Rouge) (1994)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Three Colors: Red (Trois couleurs: Rouge) (1994)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Three Colors: Red (Trois couleurs: Rouge) (1994)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Three Colors: Red (Trois couleurs: Rouge) (1994)";
            });
        });
                        
      </script>
      <h3>Three Colors: Red (Trois couleurs: Rouge) (1994)</h3>
      <h6>Predicted rating :</h6>
      <p>4.06</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/The Hunger Games (2012)" id="The Hunger Games (2012)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: The Hunger Games (2012)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/The Hunger Games (2012)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/The Hunger Games (2012)";
            });
        });
                        
      </script>
      <h3>The Hunger Games (2012)</h3>
      <h6>Predicted rating :</h6>
      <p>4.04</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/The Man from Nowhere (2010)" id="The Man from Nowhere (2010)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: The Man from Nowhere (2010)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/The Man from Nowhere (2010)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/The Man from Nowhere (2010)";
            });
        });
                        
      </script>
      <h3>The Man from Nowhere (2010)</h3>
      <h6>Predicted rating :</h6>
      <p>4.03</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Seven (a.k.a. Se7en) (1995)" id="Seven (a.k.a. Se7en) (1995)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Seven (a.k.a. Se7en) (1995)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Seven (a.k.a. Se7en) (1995)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Seven (a.k.a. Se7en) (1995)";
            });
        });
                        
      </script>
      <h3>Seven (a.k.a. Se7en) (1995)</h3>
      <h6>Predicted rating :</h6>
      <p>4.02</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Back to the Future (1985)" id="Back to the Future (1985)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Back to the Future (1985)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Back to the Future (1985)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Back to the Future (1985)";
            });
        });
                        
      </script>
      <h3>Back to the Future (1985)</h3>
      <h6>Predicted rating :</h6>
      <p>4.01</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Braveheart (1995)" id="Braveheart (1995)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Braveheart (1995)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Braveheart (1995)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Braveheart (1995)";
            });
        });
                        
      </script>
      <h3>Braveheart (1995)</h3>
      <h6>Predicted rating :</h6>
      <p>4.01</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Louis C.K.: Hilarious (2010)" id="Louis C.K.: Hilarious (2010)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Louis C.K.: Hilarious (2010)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Louis C.K.: Hilarious (2010)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Louis C.K.: Hilarious (2010)";
            });
        });
                        
      </script>
      <h3>Louis C.K.: Hilarious (2010)</h3>
      <h6>Predicted rating :</h6>
      <p>3.99</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Incredibles, The (2004)" id="Incredibles, The (2004)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Incredibles, The (2004)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Incredibles, The (2004)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Incredibles, The (2004)";
            });
        });
                        
      </script>
      <h3>Incredibles, The (2004)</h3>
      <h6>Predicted rating :</h6>
      <p>3.97</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Scarface (1983)" id="Scarface (1983)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Scarface (1983)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Scarface (1983)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Scarface (1983)";
            });
        });
                        
      </script>
      <h3>Scarface (1983)</h3>
      <h6>Predicted rating :</h6>
      <p>3.97</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Boot, Das (Boat, The) (1981)" id="Boot, Das (Boat, The) (1981)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Boot, Das (Boat, The) (1981)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Boot, Das (Boat, The) (1981)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Boot, Das (Boat, The) (1981)";
            });
        });
                        
      </script>
      <h3>Boot, Das (Boat, The) (1981)</h3>
      <h6>Predicted rating :</h6>
      <p>3.96</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Sound of Music, The (1965)" id="Sound of Music, The (1965)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Sound of Music, The (1965)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Sound of Music, The (1965)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Sound of Music, The (1965)";
            });
        });
                        
      </script>
      <h3>Sound of Music, The (1965)</h3>
      <h6>Predicted rating :</h6>
      <p>3.95</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Requiem for a Dream (2000)" id="Requiem for a Dream (2000)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Requiem for a Dream (2000)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Requiem for a Dream (2000)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Requiem for a Dream (2000)";
            });
        });
                        
      </script>
      <h3>Requiem for a Dream (2000)</h3>
      <h6>Predicted rating :</h6>
      <p>3.94</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/13 Assassins (Jûsan-nin no shikaku) (2010)" id="13 Assassins (Jûsan-nin no shikaku) (2010)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: 13 Assassins (Jûsan-nin no shikaku) (2010)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/13 Assassins (Jûsan-nin no shikaku) (2010)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/13 Assassins (Jûsan-nin no shikaku) (2010)";
            });
        });
                        
      </script>
      <h3>13 Assassins (Jûsan-nin no shikaku) (2010)</h3>
      <h6>Predicted rating :</h6>
      <p>3.93</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Lord of the Rings: The Fellowship of the Ring, The (2001)" id="Lord of the Rings: The Fellowship of the Ring, The (2001)">
        <img src="{{ url_for('static', filename='Images/scrap/Lord of the Rings: The Fellowship of the Ring, The (2001).jpg') }}" alt="Movie: Lord of the Rings: The Fellowship of the Ring, The (2001)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Lord of the Rings: The Fellowship of the Ring, The (2001)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Lord of the Rings: The Fellowship of the Ring, The (2001)";
            });
        });
                        
      </script>
      <h3>Lord of the Rings: The Fellowship of the Ring, The (2001)</h3>
      <h6>Predicted rating :</h6>
      <p>3.91</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Monty Python and the Holy Grail (1975)" id="Monty Python and the Holy Grail (1975)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Monty Python and the Holy Grail (1975)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Monty Python and the Holy Grail (1975)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Monty Python and the Holy Grail (1975)";
            });
        });
                        
      </script>
      <h3>Monty Python and the Holy Grail (1975)</h3>
      <h6>Predicted rating :</h6>
      <p>3.91</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/My Fair Lady (1964)" id="My Fair Lady (1964)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: My Fair Lady (1964)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/My Fair Lady (1964)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/My Fair Lady (1964)";
            });
        });
                        
      </script>
      <h3>My Fair Lady (1964)</h3>
      <h6>Predicted rating :</h6>
      <p>3.9</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/No Country for Old Men (2007)" id="No Country for Old Men (2007)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: No Country for Old Men (2007)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/No Country for Old Men (2007)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/No Country for Old Men (2007)";
            });
        });
                        
      </script>
      <h3>No Country for Old Men (2007)</h3>
      <h6>Predicted rating :</h6>
      <p>3.89</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Psycho (1960)" id="Psycho (1960)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Psycho (1960)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Psycho (1960)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Psycho (1960)";
            });
        });
                        
      </script>
      <h3>Psycho (1960)</h3>
      <h6>Predicted rating :</h6>
      <p>3.88</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Bourne Ultimatum, The (2007)" id="Bourne Ultimatum, The (2007)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Bourne Ultimatum, The (2007)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Bourne Ultimatum, The (2007)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Bourne Ultimatum, The (2007)";
            });
        });
                        
      </script>
      <h3>Bourne Ultimatum, The (2007)</h3>
      <h6>Predicted rating :</h6>
      <p>3.88</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/House of Sand and Fog (2003)" id="House of Sand and Fog (2003)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: House of Sand and Fog (2003)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/House of Sand and Fog (2003)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/House of Sand and Fog (2003)";
            });
        });
                        
      </script>
      <h3>House of Sand and Fog (2003)</h3>
      <h6>Predicted rating :</h6>
      <p>3.86</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Lost in Translation (2003)" id="Lost in Translation (2003)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Lost in Translation (2003)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Lost in Translation (2003)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Lost in Translation (2003)";
            });
        });
                        
      </script>
      <h3>Lost in Translation (2003)</h3>
      <h6>Predicted rating :</h6>
      <p>3.85</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Aftershock (Tangshan dadizhen) (2010)" id="Aftershock (Tangshan dadizhen) (2010)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Aftershock (Tangshan dadizhen) (2010)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Aftershock (Tangshan dadizhen) (2010)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Aftershock (Tangshan dadizhen) (2010)";
            });
        });
                        
      </script>
      <h3>Aftershock (Tangshan dadizhen) (2010)</h3>
      <h6>Predicted rating :</h6>
      <p>3.84</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Repulsion (1965)" id="Repulsion (1965)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Repulsion (1965)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Repulsion (1965)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Repulsion (1965)";
            });
        });
                        
      </script>
      <h3>Repulsion (1965)</h3>
      <h6>Predicted rating :</h6>
      <p>3.82</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Time to Kill, A (1996)" id="Time to Kill, A (1996)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Time to Kill, A (1996)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Time to Kill, A (1996)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Time to Kill, A (1996)";
            });
        });
                        
      </script>
      <h3>Time to Kill, A (1996)</h3>
      <h6>Predicted rating :</h6>
      <p>3.81</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Blood Diamond (2006)" id="Blood Diamond (2006)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Blood Diamond (2006)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Blood Diamond (2006)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Blood Diamond (2006)";
            });
        });
                        
      </script>
      <h3>Blood Diamond (2006)</h3>
      <h6>Predicted rating :</h6>
      <p>3.8</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Ghost (1990)" id="Ghost (1990)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Ghost (1990)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Ghost (1990)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Ghost (1990)";
            });
        });
                        
      </script>
      <h3>Ghost (1990)</h3>
      <h6>Predicted rating :</h6>
      <p>3.8</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Patriot, The (2000)" id="Patriot, The (2000)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Patriot, The (2000)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Patriot, The (2000)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Patriot, The (2000)";
            });
        });
                        
      </script>
      <h3>Patriot, The (2000)</h3>
      <h6>Predicted rating :</h6>
      <p>3.79</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Good Morning, Vietnam (1987)" id="Good Morning, Vietnam (1987)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Good Morning, Vietnam (1987)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Good Morning, Vietnam (1987)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Good Morning, Vietnam (1987)";
            });
        });
                        
      </script>
      <h3>Good Morning, Vietnam (1987)</h3>
      <h6>Predicted rating :</h6>
      <p>3.79</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/300 (2007)" id="300 (2007)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: 300 (2007)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/300 (2007)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/300 (2007)";
            });
        });
                        
      </script>
      <h3>300 (2007)</h3>
      <h6>Predicted rating :</h6>
      <p>3.79</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Secondhand Lions (2003)" id="Secondhand Lions (2003)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Secondhand Lions (2003)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Secondhand Lions (2003)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Secondhand Lions (2003)";
            });
        });
                        
      </script>
      <h3>Secondhand Lions (2003)</h3>
      <h6>Predicted rating :</h6>
      <p>3.76</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Grifters, The (1990)" id="Grifters, The (1990)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Grifters, The (1990)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Grifters, The (1990)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Grifters, The (1990)";
            });
        });
                        
      </script>
      <h3>Grifters, The (1990)</h3>
      <h6>Predicted rating :</h6>
      <p>3.76</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Frequency (2000)" id="Frequency (2000)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Frequency (2000)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Frequency (2000)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Frequency (2000)";
            });
        });
                        
      </script>
      <h3>Frequency (2000)</h3>
      <h6>Predicted rating :</h6>
      <p>3.73</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Alien (1979)" id="Alien (1979)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Alien (1979)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Alien (1979)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Alien (1979)";
            });
        });
                        
      </script>
      <h3>Alien (1979)</h3>
      <h6>Predicted rating :</h6>
      <p>3.72</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Hustler White (1996)" id="Hustler White (1996)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Hustler White (1996)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Hustler White (1996)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Hustler White (1996)";
            });
        });
                        
      </script>
      <h3>Hustler White (1996)</h3>
      <h6>Predicted rating :</h6>
      <p>3.72</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/S.P.L.: Kill Zone (Saat po long) (2005)" id="S.P.L.: Kill Zone (Saat po long) (2005)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: S.P.L.: Kill Zone (Saat po long) (2005)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/S.P.L.: Kill Zone (Saat po long) (2005)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/S.P.L.: Kill Zone (Saat po long) (2005)";
            });
        });
                        
      </script>
      <h3>S.P.L.: Kill Zone (Saat po long) (2005)</h3>
      <h6>Predicted rating :</h6>
      <p>3.72</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Déjà Vu (Deja Vu) (2006)" id="Déjà Vu (Deja Vu) (2006)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Déjà Vu (Deja Vu) (2006)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Déjà Vu (Deja Vu) (2006)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Déjà Vu (Deja Vu) (2006)";
            });
        });
                        
      </script>
      <h3>Déjà Vu (Deja Vu) (2006)</h3>
      <h6>Predicted rating :</h6>
      <p>3.71</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Equilibrium (2002)" id="Equilibrium (2002)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Equilibrium (2002)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Equilibrium (2002)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Equilibrium (2002)";
            });
        });
                        
      </script>
      <h3>Equilibrium (2002)</h3>
      <h6>Predicted rating :</h6>
      <p>3.71</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Horseman on the Roof, The (Hussard sur le toit, Le) (1995)" id="Horseman on the Roof, The (Hussard sur le toit, Le) (1995)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Horseman on the Roof, The (Hussard sur le toit, Le) (1995)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Horseman on the Roof, The (Hussard sur le toit, Le) (1995)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Horseman on the Roof, The (Hussard sur le toit, Le) (1995)";
            });
        });
                        
      </script>
      <h3>Horseman on the Roof, The (Hussard sur le toit, Le) (1995)</h3>
      <h6>Predicted rating :</h6>
      <p>3.65</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Topaz (1969)" id="Topaz (1969)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Topaz (1969)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Topaz (1969)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Topaz (1969)";
            });
        });
                        
      </script>
      <h3>Topaz (1969)</h3>
      <h6>Predicted rating :</h6>
      <p>3.64</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Truth About Cats & Dogs, The (1996)" id="Truth About Cats & Dogs, The (1996)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Truth About Cats & Dogs, The (1996)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Truth About Cats & Dogs, The (1996)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Truth About Cats & Dogs, The (1996)";
            });
        });
                        
      </script>
      <h3>Truth About Cats & Dogs, The (1996)</h3>
      <h6>Predicted rating :</h6>
      <p>3.6</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Sleepless in Seattle (1993)" id="Sleepless in Seattle (1993)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Sleepless in Seattle (1993)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Sleepless in Seattle (1993)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Sleepless in Seattle (1993)";
            });
        });
                        
      </script>
      <h3>Sleepless in Seattle (1993)</h3>
      <h6>Predicted rating :</h6>
      <p>3.58</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Man Without a Face, The (1993)" id="Man Without a Face, The (1993)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Man Without a Face, The (1993)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Man Without a Face, The (1993)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Man Without a Face, The (1993)";
            });
        });
                        
      </script>
      <h3>Man Without a Face, The (1993)</h3>
      <h6>Predicted rating :</h6>
      <p>3.54</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Copycat (1995)" id="Copycat (1995)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Copycat (1995)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Copycat (1995)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Copycat (1995)";
            });
        });
                        
      </script>
      <h3>Copycat (1995)</h3>
      <h6>Predicted rating :</h6>
      <p>3.51</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Road Warrior, The (Mad Max 2) (1981)" id="Road Warrior, The (Mad Max 2) (1981)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Road Warrior, The (Mad Max 2) (1981)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Road Warrior, The (Mad Max 2) (1981)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Road Warrior, The (Mad Max 2) (1981)";
            });
        });
                        
      </script>
      <h3>Road Warrior, The (Mad Max 2) (1981)</h3>
      <h6>Predicted rating :</h6>
      <p>3.49</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Torn Curtain (1966)" id="Torn Curtain (1966)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Torn Curtain (1966)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Torn Curtain (1966)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Torn Curtain (1966)";
            });
        });
                        
      </script>
      <h3>Torn Curtain (1966)</h3>
      <h6>Predicted rating :</h6>
      <p>3.48</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Prometheus (2012)" id="Prometheus (2012)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Prometheus (2012)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Prometheus (2012)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Prometheus (2012)";
            });
        });
                        
      </script>
      <h3>Prometheus (2012)</h3>
      <h6>Predicted rating :</h6>
      <p>3.43</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Rat Race (2001)" id="Rat Race (2001)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Rat Race (2001)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Rat Race (2001)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Rat Race (2001)";
            });
        });
                        
      </script>
      <h3>Rat Race (2001)</h3>
      <h6>Predicted rating :</h6>
      <p>3.33</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Liar Liar (1997)" id="Liar Liar (1997)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Liar Liar (1997)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Liar Liar (1997)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Liar Liar (1997)";
            });
        });
                        
      </script>
      <h3>Liar Liar (1997)</h3>
      <h6>Predicted rating :</h6>
      <p>3.32</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Resident Evil: Apocalypse (2004)" id="Resident Evil: Apocalypse (2004)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Resident Evil: Apocalypse (2004)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Resident Evil: Apocalypse (2004)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Resident Evil: Apocalypse (2004)";
            });
        });
                        
      </script>
      <h3>Resident Evil: Apocalypse (2004)</h3>
      <h6>Predicted rating :</h6>
      <p>3.16</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Odd Couple II, The (1998)" id="Odd Couple II, The (1998)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Odd Couple II, The (1998)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Odd Couple II, The (1998)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Odd Couple II, The (1998)";
            });
        });
                        
      </script>
      <h3>Odd Couple II, The (1998)</h3>
      <h6>Predicted rating :</h6>
      <p>3.04</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Battleship (2012)" id="Battleship (2012)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Battleship (2012)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Battleship (2012)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Battleship (2012)";
            });
        });
                        
      </script>
      <h3>Battleship (2012)</h3>
      <h6>Predicted rating :</h6>
      <p>2.87</p>
    </div>
    </div>
  </body>
  <footer>
    <div class="container">
      <h3>About Us, The Recommendation website</h3>

      <img src="{{ url_for('static',filename='Images/ESME.jpg') }}" alt="Me" class="w3-image" style="display: block; margin: auto" width="100" height="100" />
      <h4><b>hello</b></h4>
      <h6><i>By Matteo Gentili and Robin Lotode</i></h6>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</html>