<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      FlickFinder
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_main.css') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='JS_files/autocomplete.js') }}"></script>
  </head>
  <!-- Top navigation bar -->
  <header>
    <div class="topnav">
      <a href="/main.html">
        Home
      </a>
      {% if currentUserId %}
      <a href="/mypredictions.html">
        My Predictions
      </a>
      {% endif %}
      <div class="Flickfinder">
        FlickFinder
      </div>
      {% if currentUserId %}
      <div class="right">
        <a href="/myratings.html">
          My Ratings
        </a>
        <button class="disconnectButton" type="submit">
          <div>
            <span class="DisconnectConnectText">
              <p>
                Connected as {{ currentUserId }}
              </p>
            </span>
          </div>
          <div>
            <span class="DisconnectConnectText">
              <p>
                Disconnect
              </p>
            </span>
          </div>
        </button>
      </div>
      {% else %}
      <a href="/account.html" class="right">
        Account
      </a>
      {% endif %}
    </div>
    <script>
      
        $(document).ready(function () {
        $(".disconnectButton").click(function () {
            $.ajax({
                url: "/_disconnect",
                type: "POST",
                crossDomain: true,
                success: function () {
                    window.location.href = "/main.html"; 
                },
            });
        });
        });
        
    </script>
  </header>
  <body style="margin-top: 10%;">
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Léon: The Professional (a.k.a. The Professional) (Léon) (1994)" id="Léon: The Professional (a.k.a. The Professional) (Léon) (1994)">
        <img src="{{ url_for('static', filename='Images/scrap/Léon: The Professional (a.k.a. The Professional) (Léon) (1994).jpg') }}" alt="Movie: Léon: The Professional (a.k.a. The Professional) (Léon) (1994)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Léon: The Professional (a.k.a. The Professional) (Léon) (1994)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Léon: The Professional (a.k.a. The Professional) (Léon) (1994)";
            });
        });
                        
      </script>
      <h3>Léon: The Professional (a.k.a. The Professional) (Léon) (1994)</h3>
      <h6>Predicted rating :</h6>
      <p>4.44</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Spirited Away (Sen to Chihiro no kamikakushi) (2001)" id="Spirited Away (Sen to Chihiro no kamikakushi) (2001)">
        <img src="{{ url_for('static', filename='Images/scrap/Spirited Away (Sen to Chihiro no kamikakushi) (2001).jpg') }}" alt="Movie: Spirited Away (Sen to Chihiro no kamikakushi) (2001)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Spirited Away (Sen to Chihiro no kamikakushi) (2001)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Spirited Away (Sen to Chihiro no kamikakushi) (2001)";
            });
        });
                        
      </script>
      <h3>Spirited Away (Sen to Chihiro no kamikakushi) (2001)</h3>
      <h6>Predicted rating :</h6>
      <p>4.38</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Blade Runner (1982)" id="Blade Runner (1982)">
        <img src="{{ url_for('static', filename='Images/scrap/Blade Runner (1982).jpg') }}" alt="Movie: Blade Runner (1982)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Blade Runner (1982)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Blade Runner (1982)";
            });
        });
                        
      </script>
      <h3>Blade Runner (1982)</h3>
      <h6>Predicted rating :</h6>
      <p>4.38</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Shawshank Redemption, The (1994)" id="Shawshank Redemption, The (1994)">
        <img src="{{ url_for('static', filename='Images/scrap/Shawshank Redemption, The (1994).jpg') }}" alt="Movie: Shawshank Redemption, The (1994)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Shawshank Redemption, The (1994)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Shawshank Redemption, The (1994)";
            });
        });
                        
      </script>
      <h3>Shawshank Redemption, The (1994)</h3>
      <h6>Predicted rating :</h6>
      <p>4.37</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Fight Club (1999)" id="Fight Club (1999)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Fight Club (1999)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Fight Club (1999)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Fight Club (1999)";
            });
        });
                        
      </script>
      <h3>Fight Club (1999)</h3>
      <h6>Predicted rating :</h6>
      <p>4.37</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Red Shoes, The (1948)" id="Red Shoes, The (1948)">
        <img src="{{ url_for('static', filename='Images/scrap/Red Shoes, The (1948).jpg') }}" alt="Movie: Red Shoes, The (1948)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Red Shoes, The (1948)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Red Shoes, The (1948)";
            });
        });
                        
      </script>
      <h3>Red Shoes, The (1948)</h3>
      <h6>Predicted rating :</h6>
      <p>4.35</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Monty Python and the Holy Grail (1975)" id="Monty Python and the Holy Grail (1975)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Monty Python and the Holy Grail (1975)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Monty Python and the Holy Grail (1975)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Monty Python and the Holy Grail (1975)";
            });
        });
                        
      </script>
      <h3>Monty Python and the Holy Grail (1975)</h3>
      <h6>Predicted rating :</h6>
      <p>4.28</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Great Dictator, The (1940)" id="Great Dictator, The (1940)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Great Dictator, The (1940)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Great Dictator, The (1940)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Great Dictator, The (1940)";
            });
        });
                        
      </script>
      <h3>Great Dictator, The (1940)</h3>
      <h6>Predicted rating :</h6>
      <p>4.25</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Memento (2000)" id="Memento (2000)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Memento (2000)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Memento (2000)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Memento (2000)";
            });
        });
                        
      </script>
      <h3>Memento (2000)</h3>
      <h6>Predicted rating :</h6>
      <p>4.24</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Fargo (1996)" id="Fargo (1996)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Fargo (1996)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Fargo (1996)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Fargo (1996)";
            });
        });
                        
      </script>
      <h3>Fargo (1996)</h3>
      <h6>Predicted rating :</h6>
      <p>4.24</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Touching the Void (2003)" id="Touching the Void (2003)">
        <img src="{{ url_for('static', filename='Images/scrap/Touching the Void (2003).jpg') }}" alt="Movie: Touching the Void (2003)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Touching the Void (2003)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Touching the Void (2003)";
            });
        });
                        
      </script>
      <h3>Touching the Void (2003)</h3>
      <h6>Predicted rating :</h6>
      <p>4.21</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Monty Python&quot;s Life of Brian (1979)" id="Monty Python&quot;s Life of Brian (1979)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Monty Python&quot;s Life of Brian (1979)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Monty Python&quot;s Life of Brian (1979)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Monty Python&quot;s Life of Brian (1979)";
            });
        });
                        
      </script>
      <h3>Monty Python&quot;s Life of Brian (1979)</h3>
      <h6>Predicted rating :</h6>
      <p>4.2</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Unforgiven (1992)" id="Unforgiven (1992)">
        <img src="{{ url_for('static', filename='Images/scrap/Unforgiven (1992).jpg') }}" alt="Movie: Unforgiven (1992)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Unforgiven (1992)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Unforgiven (1992)";
            });
        });
                        
      </script>
      <h3>Unforgiven (1992)</h3>
      <h6>Predicted rating :</h6>
      <p>4.19</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Goodfellas (1990)" id="Goodfellas (1990)">
        <img src="{{ url_for('static', filename='Images/scrap/Goodfellas (1990).jpg') }}" alt="Movie: Goodfellas (1990)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Goodfellas (1990)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Goodfellas (1990)";
            });
        });
                        
      </script>
      <h3>Goodfellas (1990)</h3>
      <h6>Predicted rating :</h6>
      <p>4.17</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Magnolia (1999)" id="Magnolia (1999)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Magnolia (1999)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Magnolia (1999)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Magnolia (1999)";
            });
        });
                        
      </script>
      <h3>Magnolia (1999)</h3>
      <h6>Predicted rating :</h6>
      <p>4.16</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Say Anything... (1989)" id="Say Anything... (1989)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Say Anything... (1989)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Say Anything... (1989)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Say Anything... (1989)";
            });
        });
                        
      </script>
      <h3>Say Anything... (1989)</h3>
      <h6>Predicted rating :</h6>
      <p>4.13</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Crying Game, The (1992)" id="Crying Game, The (1992)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Crying Game, The (1992)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Crying Game, The (1992)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Crying Game, The (1992)";
            });
        });
                        
      </script>
      <h3>Crying Game, The (1992)</h3>
      <h6>Predicted rating :</h6>
      <p>4.11</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/One Flew Over the Cuckoo&quot;s Nest (1975)" id="One Flew Over the Cuckoo&quot;s Nest (1975)">
        <img src="{{ url_for('static', filename='Images/scrap/One Flew Over the Cuckoo&quot;s Nest (1975).jpg') }}" alt="Movie: One Flew Over the Cuckoo&quot;s Nest (1975)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/One Flew Over the Cuckoo&quot;s Nest (1975)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/One Flew Over the Cuckoo&quot;s Nest (1975)";
            });
        });
                        
      </script>
      <h3>One Flew Over the Cuckoo&quot;s Nest (1975)</h3>
      <h6>Predicted rating :</h6>
      <p>4.09</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Pulp Fiction (1994)" id="Pulp Fiction (1994)">
        <img src="{{ url_for('static', filename='Images/scrap/Pulp Fiction (1994).jpg') }}" alt="Movie: Pulp Fiction (1994)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Pulp Fiction (1994)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Pulp Fiction (1994)";
            });
        });
                        
      </script>
      <h3>Pulp Fiction (1994)</h3>
      <h6>Predicted rating :</h6>
      <p>4.06</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/To Kill a Mockingbird (1962)" id="To Kill a Mockingbird (1962)">
        <img src="{{ url_for('static', filename='Images/scrap/To Kill a Mockingbird (1962).jpg') }}" alt="Movie: To Kill a Mockingbird (1962)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/To Kill a Mockingbird (1962)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/To Kill a Mockingbird (1962)";
            });
        });
                        
      </script>
      <h3>To Kill a Mockingbird (1962)</h3>
      <h6>Predicted rating :</h6>
      <p>4.04</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/High Society (1956)" id="High Society (1956)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: High Society (1956)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/High Society (1956)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/High Society (1956)";
            });
        });
                        
      </script>
      <h3>High Society (1956)</h3>
      <h6>Predicted rating :</h6>
      <p>4.04</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Game, The (1997)" id="Game, The (1997)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Game, The (1997)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Game, The (1997)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Game, The (1997)";
            });
        });
                        
      </script>
      <h3>Game, The (1997)</h3>
      <h6>Predicted rating :</h6>
      <p>3.98</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Lonesome Dove (1989)" id="Lonesome Dove (1989)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Lonesome Dove (1989)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Lonesome Dove (1989)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Lonesome Dove (1989)";
            });
        });
                        
      </script>
      <h3>Lonesome Dove (1989)</h3>
      <h6>Predicted rating :</h6>
      <p>3.97</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Kill Bill: Vol. 2 (2004)" id="Kill Bill: Vol. 2 (2004)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Kill Bill: Vol. 2 (2004)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Kill Bill: Vol. 2 (2004)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Kill Bill: Vol. 2 (2004)";
            });
        });
                        
      </script>
      <h3>Kill Bill: Vol. 2 (2004)</h3>
      <h6>Predicted rating :</h6>
      <p>3.96</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Forrest Gump (1994)" id="Forrest Gump (1994)">
        <img src="{{ url_for('static', filename='Images/scrap/Forrest Gump (1994).jpg') }}" alt="Movie: Forrest Gump (1994)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Forrest Gump (1994)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Forrest Gump (1994)";
            });
        });
                        
      </script>
      <h3>Forrest Gump (1994)</h3>
      <h6>Predicted rating :</h6>
      <p>3.95</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Terminator, The (1984)" id="Terminator, The (1984)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Terminator, The (1984)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Terminator, The (1984)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Terminator, The (1984)";
            });
        });
                        
      </script>
      <h3>Terminator, The (1984)</h3>
      <h6>Predicted rating :</h6>
      <p>3.93</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/It&quot;s a Wonderful Life (1946)" id="It&quot;s a Wonderful Life (1946)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: It&quot;s a Wonderful Life (1946)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/It&quot;s a Wonderful Life (1946)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/It&quot;s a Wonderful Life (1946)";
            });
        });
                        
      </script>
      <h3>It&quot;s a Wonderful Life (1946)</h3>
      <h6>Predicted rating :</h6>
      <p>3.93</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/The Machinist (2004)" id="The Machinist (2004)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: The Machinist (2004)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/The Machinist (2004)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/The Machinist (2004)";
            });
        });
                        
      </script>
      <h3>The Machinist (2004)</h3>
      <h6>Predicted rating :</h6>
      <p>3.93</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Motorcycle Diaries, The (Diarios de motocicleta) (2004)" id="Motorcycle Diaries, The (Diarios de motocicleta) (2004)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Motorcycle Diaries, The (Diarios de motocicleta) (2004)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Motorcycle Diaries, The (Diarios de motocicleta) (2004)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Motorcycle Diaries, The (Diarios de motocicleta) (2004)";
            });
        });
                        
      </script>
      <h3>Motorcycle Diaries, The (Diarios de motocicleta) (2004)</h3>
      <h6>Predicted rating :</h6>
      <p>3.92</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Terminator 2: Judgment Day (1991)" id="Terminator 2: Judgment Day (1991)">
        <img src="{{ url_for('static', filename='Images/scrap/Terminator 2: Judgment Day (1991).jpg') }}" alt="Movie: Terminator 2: Judgment Day (1991)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Terminator 2: Judgment Day (1991)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Terminator 2: Judgment Day (1991)";
            });
        });
                        
      </script>
      <h3>Terminator 2: Judgment Day (1991)</h3>
      <h6>Predicted rating :</h6>
      <p>3.92</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Beautiful Mind, A (2001)" id="Beautiful Mind, A (2001)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Beautiful Mind, A (2001)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Beautiful Mind, A (2001)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Beautiful Mind, A (2001)";
            });
        });
                        
      </script>
      <h3>Beautiful Mind, A (2001)</h3>
      <h6>Predicted rating :</h6>
      <p>3.88</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Short Cuts (1993)" id="Short Cuts (1993)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Short Cuts (1993)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Short Cuts (1993)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Short Cuts (1993)";
            });
        });
                        
      </script>
      <h3>Short Cuts (1993)</h3>
      <h6>Predicted rating :</h6>
      <p>3.88</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/La La Land (2016)" id="La La Land (2016)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: La La Land (2016)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/La La Land (2016)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/La La Land (2016)";
            });
        });
                        
      </script>
      <h3>La La Land (2016)</h3>
      <h6>Predicted rating :</h6>
      <p>3.87</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Brazil (1985)" id="Brazil (1985)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Brazil (1985)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Brazil (1985)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Brazil (1985)";
            });
        });
                        
      </script>
      <h3>Brazil (1985)</h3>
      <h6>Predicted rating :</h6>
      <p>3.87</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Dangerous Liaisons (1988)" id="Dangerous Liaisons (1988)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Dangerous Liaisons (1988)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Dangerous Liaisons (1988)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Dangerous Liaisons (1988)";
            });
        });
                        
      </script>
      <h3>Dangerous Liaisons (1988)</h3>
      <h6>Predicted rating :</h6>
      <p>3.85</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Breakfast Club, The (1985)" id="Breakfast Club, The (1985)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Breakfast Club, The (1985)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Breakfast Club, The (1985)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Breakfast Club, The (1985)";
            });
        });
                        
      </script>
      <h3>Breakfast Club, The (1985)</h3>
      <h6>Predicted rating :</h6>
      <p>3.85</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Life Is Beautiful (La Vita è bella) (1997)" id="Life Is Beautiful (La Vita è bella) (1997)">
        <img src="{{ url_for('static', filename='Images/scrap/Life Is Beautiful (La Vita è bella) (1997).jpg') }}" alt="Movie: Life Is Beautiful (La Vita è bella) (1997)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Life Is Beautiful (La Vita è bella) (1997)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Life Is Beautiful (La Vita è bella) (1997)";
            });
        });
                        
      </script>
      <h3>Life Is Beautiful (La Vita è bella) (1997)</h3>
      <h6>Predicted rating :</h6>
      <p>3.85</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Southern Comfort (1981)" id="Southern Comfort (1981)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Southern Comfort (1981)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Southern Comfort (1981)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Southern Comfort (1981)";
            });
        });
                        
      </script>
      <h3>Southern Comfort (1981)</h3>
      <h6>Predicted rating :</h6>
      <p>3.83</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Toy Story (1995)" id="Toy Story (1995)">
        <img src="{{ url_for('static', filename='Images/scrap/Toy Story (1995).jpg') }}" alt="Movie: Toy Story (1995)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Toy Story (1995)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Toy Story (1995)";
            });
        });
                        
      </script>
      <h3>Toy Story (1995)</h3>
      <h6>Predicted rating :</h6>
      <p>3.82</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Philadelphia (1993)" id="Philadelphia (1993)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Philadelphia (1993)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Philadelphia (1993)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Philadelphia (1993)";
            });
        });
                        
      </script>
      <h3>Philadelphia (1993)</h3>
      <h6>Predicted rating :</h6>
      <p>3.82</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Logan&quot;s Run (1976)" id="Logan&quot;s Run (1976)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Logan&quot;s Run (1976)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Logan&quot;s Run (1976)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Logan&quot;s Run (1976)";
            });
        });
                        
      </script>
      <h3>Logan&quot;s Run (1976)</h3>
      <h6>Predicted rating :</h6>
      <p>3.8</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Glory (1989)" id="Glory (1989)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Glory (1989)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Glory (1989)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Glory (1989)";
            });
        });
                        
      </script>
      <h3>Glory (1989)</h3>
      <h6>Predicted rating :</h6>
      <p>3.79</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/American History X (1998)" id="American History X (1998)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: American History X (1998)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/American History X (1998)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/American History X (1998)";
            });
        });
                        
      </script>
      <h3>American History X (1998)</h3>
      <h6>Predicted rating :</h6>
      <p>3.79</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Grand Canyon (1991)" id="Grand Canyon (1991)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Grand Canyon (1991)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Grand Canyon (1991)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Grand Canyon (1991)";
            });
        });
                        
      </script>
      <h3>Grand Canyon (1991)</h3>
      <h6>Predicted rating :</h6>
      <p>3.79</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Ray (2004)" id="Ray (2004)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Ray (2004)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Ray (2004)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Ray (2004)";
            });
        });
                        
      </script>
      <h3>Ray (2004)</h3>
      <h6>Predicted rating :</h6>
      <p>3.79</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Match Point (2005)" id="Match Point (2005)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Match Point (2005)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Match Point (2005)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Match Point (2005)";
            });
        });
                        
      </script>
      <h3>Match Point (2005)</h3>
      <h6>Predicted rating :</h6>
      <p>3.77</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Robin Hood: Prince of Thieves (1991)" id="Robin Hood: Prince of Thieves (1991)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Robin Hood: Prince of Thieves (1991)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Robin Hood: Prince of Thieves (1991)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Robin Hood: Prince of Thieves (1991)";
            });
        });
                        
      </script>
      <h3>Robin Hood: Prince of Thieves (1991)</h3>
      <h6>Predicted rating :</h6>
      <p>3.77</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Where the Heart Is (1990)" id="Where the Heart Is (1990)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Where the Heart Is (1990)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Where the Heart Is (1990)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Where the Heart Is (1990)";
            });
        });
                        
      </script>
      <h3>Where the Heart Is (1990)</h3>
      <h6>Predicted rating :</h6>
      <p>3.75</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Ferris Bueller&quot;s Day Off (1986)" id="Ferris Bueller&quot;s Day Off (1986)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Ferris Bueller&quot;s Day Off (1986)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Ferris Bueller&quot;s Day Off (1986)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Ferris Bueller&quot;s Day Off (1986)";
            });
        });
                        
      </script>
      <h3>Ferris Bueller&quot;s Day Off (1986)</h3>
      <h6>Predicted rating :</h6>
      <p>3.75</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Traffic (2000)" id="Traffic (2000)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Traffic (2000)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Traffic (2000)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Traffic (2000)";
            });
        });
                        
      </script>
      <h3>Traffic (2000)</h3>
      <h6>Predicted rating :</h6>
      <p>3.75</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Boogie Nights (1997)" id="Boogie Nights (1997)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Boogie Nights (1997)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Boogie Nights (1997)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Boogie Nights (1997)";
            });
        });
                        
      </script>
      <h3>Boogie Nights (1997)</h3>
      <h6>Predicted rating :</h6>
      <p>3.71</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Clockwork Orange, A (1971)" id="Clockwork Orange, A (1971)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Clockwork Orange, A (1971)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Clockwork Orange, A (1971)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Clockwork Orange, A (1971)";
            });
        });
                        
      </script>
      <h3>Clockwork Orange, A (1971)</h3>
      <h6>Predicted rating :</h6>
      <p>3.71</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Can&quot;t Buy Me Love (1987)" id="Can&quot;t Buy Me Love (1987)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Can&quot;t Buy Me Love (1987)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Can&quot;t Buy Me Love (1987)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Can&quot;t Buy Me Love (1987)";
            });
        });
                        
      </script>
      <h3>Can&quot;t Buy Me Love (1987)</h3>
      <h6>Predicted rating :</h6>
      <p>3.65</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Chicago (2002)" id="Chicago (2002)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Chicago (2002)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Chicago (2002)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Chicago (2002)";
            });
        });
                        
      </script>
      <h3>Chicago (2002)</h3>
      <h6>Predicted rating :</h6>
      <p>3.64</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Bull Durham (1988)" id="Bull Durham (1988)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Bull Durham (1988)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Bull Durham (1988)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Bull Durham (1988)";
            });
        });
                        
      </script>
      <h3>Bull Durham (1988)</h3>
      <h6>Predicted rating :</h6>
      <p>3.64</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Basic Instinct (1992)" id="Basic Instinct (1992)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Basic Instinct (1992)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Basic Instinct (1992)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Basic Instinct (1992)";
            });
        });
                        
      </script>
      <h3>Basic Instinct (1992)</h3>
      <h6>Predicted rating :</h6>
      <p>3.64</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Heathers (1989)" id="Heathers (1989)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Heathers (1989)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Heathers (1989)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Heathers (1989)";
            });
        });
                        
      </script>
      <h3>Heathers (1989)</h3>
      <h6>Predicted rating :</h6>
      <p>3.63</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Harry Potter and the Chamber of Secrets (2002)" id="Harry Potter and the Chamber of Secrets (2002)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Harry Potter and the Chamber of Secrets (2002)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Harry Potter and the Chamber of Secrets (2002)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Harry Potter and the Chamber of Secrets (2002)";
            });
        });
                        
      </script>
      <h3>Harry Potter and the Chamber of Secrets (2002)</h3>
      <h6>Predicted rating :</h6>
      <p>3.62</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Joy Luck Club, The (1993)" id="Joy Luck Club, The (1993)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Joy Luck Club, The (1993)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Joy Luck Club, The (1993)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Joy Luck Club, The (1993)";
            });
        });
                        
      </script>
      <h3>Joy Luck Club, The (1993)</h3>
      <h6>Predicted rating :</h6>
      <p>3.58</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Emperor&quot;s New Groove, The (2000)" id="Emperor&quot;s New Groove, The (2000)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Emperor&quot;s New Groove, The (2000)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Emperor&quot;s New Groove, The (2000)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Emperor&quot;s New Groove, The (2000)";
            });
        });
                        
      </script>
      <h3>Emperor&quot;s New Groove, The (2000)</h3>
      <h6>Predicted rating :</h6>
      <p>3.57</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Love Actually (2003)" id="Love Actually (2003)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Love Actually (2003)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Love Actually (2003)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Love Actually (2003)";
            });
        });
                        
      </script>
      <h3>Love Actually (2003)</h3>
      <h6>Predicted rating :</h6>
      <p>3.54</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/As Good as It Gets (1997)" id="As Good as It Gets (1997)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: As Good as It Gets (1997)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/As Good as It Gets (1997)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/As Good as It Gets (1997)";
            });
        });
                        
      </script>
      <h3>As Good as It Gets (1997)</h3>
      <h6>Predicted rating :</h6>
      <p>3.54</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/E.T. the Extra-Terrestrial (1982)" id="E.T. the Extra-Terrestrial (1982)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: E.T. the Extra-Terrestrial (1982)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/E.T. the Extra-Terrestrial (1982)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/E.T. the Extra-Terrestrial (1982)";
            });
        });
                        
      </script>
      <h3>E.T. the Extra-Terrestrial (1982)</h3>
      <h6>Predicted rating :</h6>
      <p>3.51</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Italian Job, The (2003)" id="Italian Job, The (2003)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Italian Job, The (2003)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Italian Job, The (2003)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Italian Job, The (2003)";
            });
        });
                        
      </script>
      <h3>Italian Job, The (2003)</h3>
      <h6>Predicted rating :</h6>
      <p>3.48</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Bullets Over Broadway (1994)" id="Bullets Over Broadway (1994)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Bullets Over Broadway (1994)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Bullets Over Broadway (1994)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Bullets Over Broadway (1994)";
            });
        });
                        
      </script>
      <h3>Bullets Over Broadway (1994)</h3>
      <h6>Predicted rating :</h6>
      <p>3.48</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Blues Brothers, The (1980)" id="Blues Brothers, The (1980)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Blues Brothers, The (1980)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Blues Brothers, The (1980)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Blues Brothers, The (1980)";
            });
        });
                        
      </script>
      <h3>Blues Brothers, The (1980)</h3>
      <h6>Predicted rating :</h6>
      <p>3.47</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Rocky Horror Picture Show, The (1975)" id="Rocky Horror Picture Show, The (1975)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Rocky Horror Picture Show, The (1975)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Rocky Horror Picture Show, The (1975)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Rocky Horror Picture Show, The (1975)";
            });
        });
                        
      </script>
      <h3>Rocky Horror Picture Show, The (1975)</h3>
      <h6>Predicted rating :</h6>
      <p>3.46</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/How to Lose a Guy in 10 Days (2003)" id="How to Lose a Guy in 10 Days (2003)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: How to Lose a Guy in 10 Days (2003)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/How to Lose a Guy in 10 Days (2003)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/How to Lose a Guy in 10 Days (2003)";
            });
        });
                        
      </script>
      <h3>How to Lose a Guy in 10 Days (2003)</h3>
      <h6>Predicted rating :</h6>
      <p>3.42</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Forget Paris (1995)" id="Forget Paris (1995)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Forget Paris (1995)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Forget Paris (1995)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Forget Paris (1995)";
            });
        });
                        
      </script>
      <h3>Forget Paris (1995)</h3>
      <h6>Predicted rating :</h6>
      <p>3.41</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Star Trek: Nemesis (2002)" id="Star Trek: Nemesis (2002)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Star Trek: Nemesis (2002)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Star Trek: Nemesis (2002)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Star Trek: Nemesis (2002)";
            });
        });
                        
      </script>
      <h3>Star Trek: Nemesis (2002)</h3>
      <h6>Predicted rating :</h6>
      <p>3.4</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Harry Potter and the Goblet of Fire (2005)" id="Harry Potter and the Goblet of Fire (2005)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Harry Potter and the Goblet of Fire (2005)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Harry Potter and the Goblet of Fire (2005)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Harry Potter and the Goblet of Fire (2005)";
            });
        });
                        
      </script>
      <h3>Harry Potter and the Goblet of Fire (2005)</h3>
      <h6>Predicted rating :</h6>
      <p>3.37</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Circle of Friends (1995)" id="Circle of Friends (1995)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Circle of Friends (1995)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Circle of Friends (1995)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Circle of Friends (1995)";
            });
        });
                        
      </script>
      <h3>Circle of Friends (1995)</h3>
      <h6>Predicted rating :</h6>
      <p>3.33</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Notebook, The (2004)" id="Notebook, The (2004)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Notebook, The (2004)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Notebook, The (2004)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Notebook, The (2004)";
            });
        });
                        
      </script>
      <h3>Notebook, The (2004)</h3>
      <h6>Predicted rating :</h6>
      <p>3.32</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Top Gun (1986)" id="Top Gun (1986)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Top Gun (1986)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Top Gun (1986)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Top Gun (1986)";
            });
        });
                        
      </script>
      <h3>Top Gun (1986)</h3>
      <h6>Predicted rating :</h6>
      <p>3.29</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/American Pie (1999)" id="American Pie (1999)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: American Pie (1999)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/American Pie (1999)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/American Pie (1999)";
            });
        });
                        
      </script>
      <h3>American Pie (1999)</h3>
      <h6>Predicted rating :</h6>
      <p>3.06</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Twilight (2008)" id="Twilight (2008)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Twilight (2008)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Twilight (2008)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Twilight (2008)";
            });
        });
                        
      </script>
      <h3>Twilight (2008)</h3>
      <h6>Predicted rating :</h6>
      <p>2.35</p>
    </div>
    </div>
  </body>
  <footer>
    <div class="container">
      <h3>About Us, The Recommendation website</h3>

      <img src="{{ url_for('static',filename='Images/ESME.jpg') }}" alt="Me" class="w3-image" style="display: block; margin: auto" width="100" height="100" />
      <h4><b>hello</b></h4>
      <h6><i>By Matteo Gentili and Robin Lotode</i></h6>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</html>