<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      FlickFinder
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_main.css') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='JS_files/autocomplete.js') }}"></script>
  </head>
  <!-- Top navigation bar -->
  <header>
    <div class="topnav">
      <a href="/main.html">
        Home
      </a>
      {% if currentUserId %}
      <a href="/mypredictions.html">
        Our Selection for You
      </a>
      {% endif %}
      <div class="Flickfinder">
        FlickFinder
      </div>
      {% if currentUserId %}
      <div class="right">
        <a href="/myratings.html">
          My Ratings
        </a>
        <button class="disconnectButton" type="submit">
          <div>
            <span class="DisconnectConnectText">
              <p>
                Connected as {{ currentUserId }}&ensp;
              </p>
            </span>
          </div>
          <div>
            <span class="DisconnectConnectText">
              <p>
                Disconnect
              </p>
            </span>
          </div>
        </button>
      </div>
      {% else %}
      <a href="/account.html" class="right">
        Account
      </a>
      {% endif %}
    </div>
    <script>
      
        $(document).ready(function () {
        $(".disconnectButton").click(function () {
            $.ajax({
                url: "/_disconnect",
                type: "POST",
                crossDomain: true,
                success: function () {
                    window.location.href = "/main.html"; 
                },
            });
        });
        });
        
    </script>
  </header>
  <body style="margin-top: 10%;">
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Room with a View, A (1986)" id="Room with a View, A (1986)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Room with a View, A (1986)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Room with a View, A (1986)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Room with a View, A (1986)";
            });
        });
                        
      </script>
      <h3>Room with a View, A (1986)</h3>
      <p>My rating : 4.5</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Broadcast News (1987)" id="Broadcast News (1987)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Broadcast News (1987)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Broadcast News (1987)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Broadcast News (1987)";
            });
        });
                        
      </script>
      <h3>Broadcast News (1987)</h3>
      <p>My rating : 4.5</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Driving Miss Daisy (1989)" id="Driving Miss Daisy (1989)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Driving Miss Daisy (1989)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Driving Miss Daisy (1989)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Driving Miss Daisy (1989)";
            });
        });
                        
      </script>
      <h3>Driving Miss Daisy (1989)</h3>
      <p>My rating : 4.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Big Chill, The (1983)" id="Big Chill, The (1983)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Big Chill, The (1983)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Big Chill, The (1983)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Big Chill, The (1983)";
            });
        });
                        
      </script>
      <h3>Big Chill, The (1983)</h3>
      <p>My rating : 4.0</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Little Shop of Horrors (1986)" id="Little Shop of Horrors (1986)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Little Shop of Horrors (1986)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Little Shop of Horrors (1986)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Little Shop of Horrors (1986)";
            });
        });
                        
      </script>
      <h3>Little Shop of Horrors (1986)</h3>
      <p>My rating : 4.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/American Graffiti (1973)" id="American Graffiti (1973)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: American Graffiti (1973)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/American Graffiti (1973)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/American Graffiti (1973)";
            });
        });
                        
      </script>
      <h3>American Graffiti (1973)</h3>
      <p>My rating : 4.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Hackers (1995)" id="Hackers (1995)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Hackers (1995)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Hackers (1995)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Hackers (1995)";
            });
        });
                        
      </script>
      <h3>Hackers (1995)</h3>
      <p>My rating : 3.5</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Escape from L.A. (1996)" id="Escape from L.A. (1996)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Escape from L.A. (1996)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Escape from L.A. (1996)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Escape from L.A. (1996)";
            });
        });
                        
      </script>
      <h3>Escape from L.A. (1996)</h3>
      <p>My rating : 3.5</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Sex, Lies, and Videotape (1989)" id="Sex, Lies, and Videotape (1989)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Sex, Lies, and Videotape (1989)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Sex, Lies, and Videotape (1989)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Sex, Lies, and Videotape (1989)";
            });
        });
                        
      </script>
      <h3>Sex, Lies, and Videotape (1989)</h3>
      <p>My rating : 3.5</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/L.A. Story (1991)" id="L.A. Story (1991)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: L.A. Story (1991)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/L.A. Story (1991)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/L.A. Story (1991)";
            });
        });
                        
      </script>
      <h3>L.A. Story (1991)</h3>
      <p>My rating : 3.5</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Arlington Road (1999)" id="Arlington Road (1999)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Arlington Road (1999)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Arlington Road (1999)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Arlington Road (1999)";
            });
        });
                        
      </script>
      <h3>Arlington Road (1999)</h3>
      <p>My rating : 3.5</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Risky Business (1983)" id="Risky Business (1983)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Risky Business (1983)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Risky Business (1983)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Risky Business (1983)";
            });
        });
                        
      </script>
      <h3>Risky Business (1983)</h3>
      <p>My rating : 3.5</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Harold and Maude (1971)" id="Harold and Maude (1971)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Harold and Maude (1971)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Harold and Maude (1971)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Harold and Maude (1971)";
            });
        });
                        
      </script>
      <h3>Harold and Maude (1971)</h3>
      <p>My rating : 3.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Manhattan (1979)" id="Manhattan (1979)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Manhattan (1979)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Manhattan (1979)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Manhattan (1979)";
            });
        });
                        
      </script>
      <h3>Manhattan (1979)</h3>
      <p>My rating : 3.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Stripes (1981)" id="Stripes (1981)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Stripes (1981)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Stripes (1981)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Stripes (1981)";
            });
        });
                        
      </script>
      <h3>Stripes (1981)</h3>
      <p>My rating : 3.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Weekend at Bernie&quot;s (1989)" id="Weekend at Bernie&quot;s (1989)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Weekend at Bernie&quot;s (1989)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Weekend at Bernie&quot;s (1989)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Weekend at Bernie&quot;s (1989)";
            });
        });
                        
      </script>
      <h3>Weekend at Bernie&quot;s (1989)</h3>
      <p>My rating : 1.5</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Spawn (1997)" id="Spawn (1997)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Spawn (1997)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Spawn (1997)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Spawn (1997)";
            });
        });
                        
      </script>
      <h3>Spawn (1997)</h3>
      <p>My rating : 1.5</p>
    </div>
    </div>
  </body>
  <footer>
    <div class="container">
      <h3>About Us, The Recommendation website</h3>

      <img src="{{ url_for('static',filename='Images/ESME.jpg') }}" alt="Me" class="w3-image" style="display: block; margin: auto" width="100" height="100" />
      <h4><b>hello</b></h4>
      <h6><i>By Matteo Gentili and Robin Lotode</i></h6>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</html>