<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      FlickFinder
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_main.css') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='JS_files/autocomplete.js') }}"></script>
  </head>
  <!-- Top navigation bar -->
  <header>
    <div class="topnav">
      <a href="/main.html">
        Home
      </a>
      {% if currentUserId %}
      <a href="/mypredictions.html">
        My Predictions
      </a>
      {% endif %}
      <div class="Flickfinder">
        FlickFinder
      </div>
      {% if currentUserId %}
      <div class="right">
        <a href="/myratings.html">
          My Ratings
        </a>
        <button class="disconnectButton" type="submit">
          <div>
            <span class="DisconnectConnectText">
              <p>
                Connected as {{ currentUserId }} 
              </p>
            </span>
          </div>
          <div>
            <span class="DisconnectConnectText">
              <p>
                Disconnect
              </p>
            </span>
          </div>
        </button>
      </div>
      {% else %}
      <a href="/account.html" class="right">
        Account
      </a>
      {% endif %}
    </div>
    <script>
      
        $(document).ready(function () {
        $(".disconnectButton").click(function () {
            $.ajax({
                url: "/_disconnect",
                type: "POST",
                crossDomain: true,
                success: function () {
                    window.location.href = "/main.html"; 
                },
            });
        });
        });
        
    </script>
  </header>
  <body style="margin-top: 10%;">
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Saving Private Ryan (1998)" id="Saving Private Ryan (1998)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Saving Private Ryan (1998)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Saving Private Ryan (1998)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Saving Private Ryan (1998)";
            });
        });
                        
      </script>
      <h3>Saving Private Ryan (1998)</h3>
      <p>My rating : 5.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Adventures of Pinocchio, The (1996)" id="Adventures of Pinocchio, The (1996)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Adventures of Pinocchio, The (1996)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Adventures of Pinocchio, The (1996)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Adventures of Pinocchio, The (1996)";
            });
        });
                        
      </script>
      <h3>Adventures of Pinocchio, The (1996)</h3>
      <p>My rating : 4.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Godfather: Part II, The (1974)" id="Godfather: Part II, The (1974)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Godfather: Part II, The (1974)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Godfather: Part II, The (1974)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Godfather: Part II, The (1974)";
            });
        });
                        
      </script>
      <h3>Godfather: Part II, The (1974)</h3>
      <p>My rating : 4.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/American Werewolf in London, An (1981)" id="American Werewolf in London, An (1981)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: American Werewolf in London, An (1981)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/American Werewolf in London, An (1981)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/American Werewolf in London, An (1981)";
            });
        });
                        
      </script>
      <h3>American Werewolf in London, An (1981)</h3>
      <p>My rating : 4.0</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/The Devil&quot;s Advocate (1997)" id="The Devil&quot;s Advocate (1997)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: The Devil&quot;s Advocate (1997)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/The Devil&quot;s Advocate (1997)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/The Devil&quot;s Advocate (1997)";
            });
        });
                        
      </script>
      <h3>The Devil&quot;s Advocate (1997)</h3>
      <p>My rating : 4.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Room at the Top (1959)" id="Room at the Top (1959)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Room at the Top (1959)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Room at the Top (1959)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Room at the Top (1959)";
            });
        });
                        
      </script>
      <h3>Room at the Top (1959)</h3>
      <p>My rating : 4.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Diabolique (1996)" id="Diabolique (1996)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Diabolique (1996)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Diabolique (1996)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Diabolique (1996)";
            });
        });
                        
      </script>
      <h3>Diabolique (1996)</h3>
      <p>My rating : 3.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Angel on My Shoulder (1946)" id="Angel on My Shoulder (1946)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Angel on My Shoulder (1946)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Angel on My Shoulder (1946)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Angel on My Shoulder (1946)";
            });
        });
                        
      </script>
      <h3>Angel on My Shoulder (1946)</h3>
      <p>My rating : 3.0</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/The Players Club (1998)" id="The Players Club (1998)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: The Players Club (1998)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/The Players Club (1998)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/The Players Club (1998)";
            });
        });
                        
      </script>
      <h3>The Players Club (1998)</h3>
      <p>My rating : 3.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Rapture, The (1991)" id="Rapture, The (1991)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Rapture, The (1991)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Rapture, The (1991)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Rapture, The (1991)";
            });
        });
                        
      </script>
      <h3>Rapture, The (1991)</h3>
      <p>My rating : 3.0</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Halloween 4: The Return of Michael Myers (1988)" id="Halloween 4: The Return of Michael Myers (1988)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Halloween 4: The Return of Michael Myers (1988)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Halloween 4: The Return of Michael Myers (1988)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Halloween 4: The Return of Michael Myers (1988)";
            });
        });
                        
      </script>
      <h3>Halloween 4: The Return of Michael Myers (1988)</h3>
      <p>My rating : 2.0</p>
    </div>
    </div>
  </body>
  <footer>
    <div class="container">
      <h3>About Us, The Recommendation website</h3>

      <img src="{{ url_for('static',filename='Images/ESME.jpg') }}" alt="Me" class="w3-image" style="display: block; margin: auto" width="100" height="100" />
      <h4><b>hello</b></h4>
      <h6><i>By Matteo Gentili and Robin Lotode</i></h6>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</html>