<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      FlickFinder
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_main.css') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='JS_files/autocomplete.js') }}"></script>
  </head>
  <!-- Top navigation bar -->
  <header>
    <div class="topnav">
      <a href="/main.html">
        Home
      </a>
      <a href="/about.html">
        About
      </a>
      <div class="Flickfinder">
        FlickFinder
      </div>
      {% if currentUserId %}
      <div class="right">
        <a href="/myratings.html">
          My Ratings
        </a>
        <button class="disconnectButton" type="submit">
          Disconnect (connected as {{ currentUserId }})
        </button>
      </div>
      {% else %}
      <a href="/account.html" class="right">
        Account
      </a>
      {% endif %}
    </div>
    <script>
      
        $(document).ready(function () {
        $(".disconnectButton").click(function () {
            $.ajax({
                url: "/_disconnect",
                type: "POST",
                crossDomain: true,
                success: function () {
                    window.location.href = "/main.html"; 
                },
            });
        });
        });
        
    </script>
  </header>
  <body>
    <!-- Search bar -->
    <div class="search-container">
      <input id="tags" type="text" name="searchText" placeholder="Search for a movie..." />
      <button class="searchFilm" id="search-btn" type="submit">Search</button>
      <script>
        
        $(document).ready(function () {
        $(".searchFilm").click(function () {
            const message = $("[name=searchText]").val();
            var formData = {
            searchText: message,
            };

            if (message == "") {
            } else {
            $.ajax({
                url: "/_tfidf",
                type: "POST",
                crossDomain: true,
                data: formData,
                dataType: "text",
                    success: function (data) {
                    // alert(data);
                    window.location.href = "/similar_movies.html"; 
                },
            });
            }
        });
        });
        
      </script>
    </div>
    <h3 class="Titlegrid">Recommendation based on the content (TFIDF) :</h3>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Tron (1982)" id="Tron (1982)">
        <img src="{{ url_for('static', filename='Images/scrap/Tron (1982).jpg') }}" alt="Movie: Tron (1982)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Tron (1982)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Tron (1982)";
            });
        });
                        
      </script>
      <h3>Tron (1982)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Tron: Legacy (2010)" id="Tron: Legacy (2010)">
        <img src="{{ url_for('static', filename='Images/scrap/Tron: Legacy (2010).jpg') }}" alt="Movie: Tron: Legacy (2010)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Tron: Legacy (2010)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Tron: Legacy (2010)";
            });
        });
                        
      </script>
      <h3>Tron: Legacy (2010)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Matrix, The (1999)" id="Matrix, The (1999)">
        <img src="{{ url_for('static', filename='Images/scrap/Matrix, The (1999).jpg') }}" alt="Movie: Matrix, The (1999)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Matrix, The (1999)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Matrix, The (1999)";
            });
        });
                        
      </script>
      <h3>Matrix, The (1999)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/How to Make a Monster (2001)" id="How to Make a Monster (2001)">
        <img src="{{ url_for('static', filename='Images/scrap/How to Make a Monster (2001).jpg') }}" alt="Movie: How to Make a Monster (2001)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/How to Make a Monster (2001)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/How to Make a Monster (2001)";
            });
        });
                        
      </script>
      <h3>How to Make a Monster (2001)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Colossus: The Forbin Project (1970)" id="Colossus: The Forbin Project (1970)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Colossus: The Forbin Project (1970)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Colossus: The Forbin Project (1970)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Colossus: The Forbin Project (1970)";
            });
        });
                        
      </script>
      <h3>Colossus: The Forbin Project (1970)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Virtuality (2009)" id="Virtuality (2009)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Virtuality (2009)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Virtuality (2009)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Virtuality (2009)";
            });
        });
                        
      </script>
      <h3>Virtuality (2009)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/WarGames (1983)" id="WarGames (1983)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: WarGames (1983)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/WarGames (1983)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/WarGames (1983)";
            });
        });
                        
      </script>
      <h3>WarGames (1983)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Kill Switch (2017)" id="Kill Switch (2017)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Kill Switch (2017)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Kill Switch (2017)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Kill Switch (2017)";
            });
        });
                        
      </script>
      <h3>Kill Switch (2017)</h3>
      <h6>Genre</h6>
      <p>Synopsys</p>
    </div>
    </div>
  </body>
  <h3 class="Titlegrid">Recommendation based on the movie similarities (Correlation) :</h3>
  <div class="movie-grid">
  <div class="moviecontainer">
    <a href="/_movie/Tron (1982)" id="Tron (1982)">
      <img src="{{ url_for('static', filename='Images/scrap/Tron (1982).jpg') }}" alt="Movie: Tron (1982)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Tron (1982)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Tron (1982)";
        });
    });
                    
    </script>
    <h3>Tron (1982)</h3>
    <h6>Genre</h6>
    <p>Synopsys</p>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Eye for an Eye (1996)" id="Eye for an Eye (1996)">
      <img src="{{ url_for('static', filename='Images/scrap/Eye for an Eye (1996).jpg') }}" alt="Movie: Eye for an Eye (1996)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Eye for an Eye (1996)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Eye for an Eye (1996)";
        });
    });
                    
    </script>
    <h3>Eye for an Eye (1996)</h3>
    <h6>Genre</h6>
    <p>Synopsys</p>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Safe House (2012)" id="Safe House (2012)">
      <img src="{{ url_for('static', filename='Images/scrap/Safe House (2012).jpg') }}" alt="Movie: Safe House (2012)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Safe House (2012)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Safe House (2012)";
        });
    });
                    
    </script>
    <h3>Safe House (2012)</h3>
    <h6>Genre</h6>
    <p>Synopsys</p>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Snowden (2016)" id="Snowden (2016)">
      <img src="{{ url_for('static', filename='Images/scrap/Snowden (2016).jpg') }}" alt="Movie: Snowden (2016)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Snowden (2016)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Snowden (2016)";
        });
    });
                    
    </script>
    <h3>Snowden (2016)</h3>
    <h6>Genre</h6>
    <p>Synopsys</p>
  </div>
  </div>
  <div class="movie-grid">
  <div class="moviecontainer">
    <a href="/_movie/Friends with Benefits (2011)" id="Friends with Benefits (2011)">
      <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Friends with Benefits (2011)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Friends with Benefits (2011)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Friends with Benefits (2011)";
        });
    });
                    
    </script>
    <h3>Friends with Benefits (2011)</h3>
    <h6>Genre</h6>
    <p>Synopsys</p>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/In Her Shoes (2005)" id="In Her Shoes (2005)">
      <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: In Her Shoes (2005)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/In Her Shoes (2005)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/In Her Shoes (2005)";
        });
    });
                    
    </script>
    <h3>In Her Shoes (2005)</h3>
    <h6>Genre</h6>
    <p>Synopsys</p>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Furious 7 (2015)" id="Furious 7 (2015)">
      <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Furious 7 (2015)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Furious 7 (2015)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Furious 7 (2015)";
        });
    });
                    
    </script>
    <h3>Furious 7 (2015)</h3>
    <h6>Genre</h6>
    <p>Synopsys</p>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Fifty Shades of Grey (2015)" id="Fifty Shades of Grey (2015)">
      <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Fifty Shades of Grey (2015)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Fifty Shades of Grey (2015)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Fifty Shades of Grey (2015)";
        });
    });
                    
    </script>
    <h3>Fifty Shades of Grey (2015)</h3>
    <h6>Genre</h6>
    <p>Synopsys</p>
  </div>
  </div>
  <footer>
    <div class="container">
      <h3>The Recommendation website</h3>

      <img src="{{ url_for('static',filename='Images/ESME.jpg') }}" alt="Me" class="w3-image" style="display: block; margin: auto" width="100" height="100" />
      <h6><i>By Matteo Gentili and Robin Lotode</i></h6>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</html>