<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      FlickFinder
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_main.css') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='JS_files/autocomplete.js') }}"></script>
  </head>
  <!-- Top navigation bar -->
  <header>
    <div class="topnav">
      <a href="/main.html">
        Home
      </a>
      {% if currentUserId %}
      <a href="/mypredictions.html">
        Our Selection for You
      </a>
      {% endif %}
      <div class="Flickfinder">
        FlickFinder
      </div>
      {% if currentUserId %}
      <div class="right">
        <a href="/myratings.html">
          My Ratings
        </a>
        <button class="disconnectButton" type="submit">
          <div>
            <span class="DisconnectConnectText">
              <p>
                Connected as {{ currentUserId }}&ensp;
              </p>
            </span>
          </div>
          <div>
            <span class="DisconnectConnectText">
              <p>
                Disconnect
              </p>
            </span>
          </div>
        </button>
      </div>
      {% else %}
      <a href="/account.html" class="right">
        Account
      </a>
      {% endif %}
    </div>
    <script>
      
        $(document).ready(function () {
        $(".disconnectButton").click(function () {
            $.ajax({
                url: "/_disconnect",
                type: "POST",
                crossDomain: true,
                success: function () {
                    window.location.href = "/main.html"; 
                },
            });
        });
        });
        
    </script>
  </header>
  <body>
    <!-- Search bar -->
    <div class="search-container">
      <input id="tags" type="text" name="searchText" placeholder="Search for a movie..." />
      <button class="searchFilm" id="search-btn" type="submit">Search</button>
      <script>
        
        $(document).ready(function () {
        $(".searchFilm").click(function () {
            const message = $("[name=searchText]").val();
            var formData = {
            searchText: message,
            };

            if (message == "") {
            } else {
            $.ajax({
                url: "/_tfidf",
                type: "POST",
                crossDomain: true,
                data: formData,
                dataType: "text",
                    success: function (data) {
                    // alert(data);
                    window.location.href = "/similar_movies.html"; 
                },
            });
            }
        });
        });
        
      </script>
    </div>
    <h2 class="Titlegrid">Discover Movies with Similar Themes and Content :</h2>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Independence Day (a.k.a. ID4) (1996)" id="Independence Day (a.k.a. ID4) (1996)">
        <img src="{{ url_for('static', filename='Images/scrap/Independence Day (a.k.a. ID4) (1996).jpg') }}" alt="Movie: Independence Day (a.k.a. ID4) (1996)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Independence Day (a.k.a. ID4) (1996)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Independence Day (a.k.a. ID4) (1996)";
            });
        });
                        
      </script>
      <h3>Independence Day (a.k.a. ID4) (1996)</h3>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Independence Day: Resurgence (2016)" id="Independence Day: Resurgence (2016)">
        <img src="{{ url_for('static', filename='Images/scrap/Independence Day: Resurgence (2016).jpg') }}" alt="Movie: Independence Day: Resurgence (2016)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Independence Day: Resurgence (2016)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Independence Day: Resurgence (2016)";
            });
        });
                        
      </script>
      <h3>Independence Day: Resurgence (2016)</h3>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/The Predator (2018)" id="The Predator (2018)">
        <img src="{{ url_for('static', filename='Images/scrap/The Predator (2018).jpg') }}" alt="Movie: The Predator (2018)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/The Predator (2018)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/The Predator (2018)";
            });
        });
                        
      </script>
      <h3>The Predator (2018)</h3>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Critters (1986)" id="Critters (1986)">
        <img src="{{ url_for('static', filename='Images/scrap/Critters (1986).jpg') }}" alt="Movie: Critters (1986)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Critters (1986)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Critters (1986)";
            });
        });
                        
      </script>
      <h3>Critters (1986)</h3>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Captain Marvel (2018)" id="Captain Marvel (2018)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Captain Marvel (2018)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Captain Marvel (2018)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Captain Marvel (2018)";
            });
        });
                        
      </script>
      <h3>Captain Marvel (2018)</h3>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/This Island Earth (1955)" id="This Island Earth (1955)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: This Island Earth (1955)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/This Island Earth (1955)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/This Island Earth (1955)";
            });
        });
                        
      </script>
      <h3>This Island Earth (1955)</h3>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Mission Stardust (1967)" id="Mission Stardust (1967)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Mission Stardust (1967)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Mission Stardust (1967)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Mission Stardust (1967)";
            });
        });
                        
      </script>
      <h3>Mission Stardust (1967)</h3>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Mars Attacks! (1996)" id="Mars Attacks! (1996)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Mars Attacks! (1996)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Mars Attacks! (1996)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Mars Attacks! (1996)";
            });
        });
                        
      </script>
      <h3>Mars Attacks! (1996)</h3>
    </div>
    </div>
  </body>
  <h2 class="Titlegrid">Discover Movies you might Like:</h2>
  <div class="movie-grid">
  <div class="moviecontainer">
    <a href="/_movie/Independence Day (a.k.a. ID4) (1996)" id="Independence Day (a.k.a. ID4) (1996)">
      <img src="{{ url_for('static', filename='Images/scrap/Independence Day (a.k.a. ID4) (1996).jpg') }}" alt="Movie: Independence Day (a.k.a. ID4) (1996)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Independence Day (a.k.a. ID4) (1996)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Independence Day (a.k.a. ID4) (1996)";
        });
    });
                    
    </script>
    <h3>Independence Day (a.k.a. ID4) (1996)</h3>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/What Happens in Vegas... (2008)" id="What Happens in Vegas... (2008)">
      <img src="{{ url_for('static', filename='Images/scrap/What Happens in Vegas... (2008).jpg') }}" alt="Movie: What Happens in Vegas... (2008)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/What Happens in Vegas... (2008)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/What Happens in Vegas... (2008)";
        });
    });
                    
    </script>
    <h3>What Happens in Vegas... (2008)</h3>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Ugly Truth, The (2009)" id="Ugly Truth, The (2009)">
      <img src="{{ url_for('static', filename='Images/scrap/Ugly Truth, The (2009).jpg') }}" alt="Movie: Ugly Truth, The (2009)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Ugly Truth, The (2009)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Ugly Truth, The (2009)";
        });
    });
                    
    </script>
    <h3>Ugly Truth, The (2009)</h3>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Avengers: Age of Ultron (2015)" id="Avengers: Age of Ultron (2015)">
      <img src="{{ url_for('static', filename='Images/scrap/Avengers: Age of Ultron (2015).jpg') }}" alt="Movie: Avengers: Age of Ultron (2015)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Avengers: Age of Ultron (2015)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Avengers: Age of Ultron (2015)";
        });
    });
                    
    </script>
    <h3>Avengers: Age of Ultron (2015)</h3>
  </div>
  </div>
  <div class="movie-grid">
  <div class="moviecontainer">
    <a href="/_movie/Jimmy Neutron: Boy Genius (2001)" id="Jimmy Neutron: Boy Genius (2001)">
      <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Jimmy Neutron: Boy Genius (2001)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Jimmy Neutron: Boy Genius (2001)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Jimmy Neutron: Boy Genius (2001)";
        });
    });
                    
    </script>
    <h3>Jimmy Neutron: Boy Genius (2001)</h3>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Drive Me Crazy (1999)" id="Drive Me Crazy (1999)">
      <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Drive Me Crazy (1999)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Drive Me Crazy (1999)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Drive Me Crazy (1999)";
        });
    });
                    
    </script>
    <h3>Drive Me Crazy (1999)</h3>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Star Wars: The Clone Wars (2008)" id="Star Wars: The Clone Wars (2008)">
      <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Star Wars: The Clone Wars (2008)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Star Wars: The Clone Wars (2008)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Star Wars: The Clone Wars (2008)";
        });
    });
                    
    </script>
    <h3>Star Wars: The Clone Wars (2008)</h3>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Ella Enchanted (2004)" id="Ella Enchanted (2004)">
      <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Ella Enchanted (2004)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Ella Enchanted (2004)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Ella Enchanted (2004)";
        });
    });
                    
    </script>
    <h3>Ella Enchanted (2004)</h3>
  </div>
  </div>
  <footer>
    <div class="container">
      <h3>The Recommendation website</h3>

      <img src="{{ url_for('static',filename='Images/ESME.jpg') }}" alt="Me" class="w3-image" style="display: block; margin: auto" width="100" height="100" />
      <h6><i>By Matteo Gentili and Robin Lotode</i></h6>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</html>