<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      FlickFinder
    </title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{ url_for('static',filename='CSS_files/stylesheet_main.css') }}" />
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <script src="{{ url_for('static',filename='JS_files/autocomplete.js') }}"></script>
  </head>
  <!-- Top navigation bar -->
  <header>
    <div class="topnav">
      <a href="/main.html">
        Home
      </a>
      {% if currentUserId %}
      <a href="/mypredictions.html">
        My Predictions
      </a>
      {% endif %}
      <div class="Flickfinder">
        FlickFinder
      </div>
      {% if currentUserId %}
      <div class="right">
        <a href="/myratings.html">
          My Ratings
        </a>
        <button class="disconnectButton" type="submit">
          <div>
            <span class="DisconnectConnectText">
              <p>
                Connected as {{ currentUserId }} 
              </p>
            </span>
          </div>
          <div>
            <span class="DisconnectConnectText">
              <p>
                Disconnect
              </p>
            </span>
          </div>
        </button>
      </div>
      {% else %}
      <a href="/account.html" class="right">
        Account
      </a>
      {% endif %}
    </div>
    <script>
      
        $(document).ready(function () {
        $(".disconnectButton").click(function () {
            $.ajax({
                url: "/_disconnect",
                type: "POST",
                crossDomain: true,
                success: function () {
                    window.location.href = "/main.html"; 
                },
            });
        });
        });
        
    </script>
  </header>
  <body>
    <!-- Search bar -->
    <div class="search-container">
      <input id="tags" type="text" name="searchText" placeholder="Search for a movie..." />
      <button class="searchFilm" id="search-btn" type="submit">Search</button>
      <script>
        
        $(document).ready(function () {
        $(".searchFilm").click(function () {
            const message = $("[name=searchText]").val();
            var formData = {
            searchText: message,
            };

            if (message == "") {
            } else {
            $.ajax({
                url: "/_tfidf",
                type: "POST",
                crossDomain: true,
                data: formData,
                dataType: "text",
                    success: function (data) {
                    // alert(data);
                    window.location.href = "/similar_movies.html"; 
                },
            });
            }
        });
        });
        
      </script>
    </div>
    <h3 class="Titlegrid">Recommendation based on the content (TFIDF) :</h3>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Star Wars: Episode IV - A New Hope (1977)" id="Star Wars: Episode IV - A New Hope (1977)">
        <img src="{{ url_for('static', filename='Images/scrap/Star Wars: Episode IV - A New Hope (1977).jpg') }}" alt="Movie: Star Wars: Episode IV - A New Hope (1977)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Star Wars: Episode IV - A New Hope (1977)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Star Wars: Episode IV - A New Hope (1977)";
            });
        });
                        
      </script>
      <h3>Star Wars: Episode IV - A New Hope (1977)</h3>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Star Wars: Episode V - The Empire Strikes Back (1980)" id="Star Wars: Episode V - The Empire Strikes Back (1980)">
        <img src="{{ url_for('static', filename='Images/scrap/Star Wars: Episode V - The Empire Strikes Back (1980).jpg') }}" alt="Movie: Star Wars: Episode V - The Empire Strikes Back (1980)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Star Wars: Episode V - The Empire Strikes Back (1980)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Star Wars: Episode V - The Empire Strikes Back (1980)";
            });
        });
                        
      </script>
      <h3>Star Wars: Episode V - The Empire Strikes Back (1980)</h3>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Star Wars: Episode VI - Return of the Jedi (1983)" id="Star Wars: Episode VI - Return of the Jedi (1983)">
        <img src="{{ url_for('static', filename='Images/scrap/Star Wars: Episode VI - Return of the Jedi (1983).jpg') }}" alt="Movie: Star Wars: Episode VI - Return of the Jedi (1983)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Star Wars: Episode VI - Return of the Jedi (1983)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Star Wars: Episode VI - Return of the Jedi (1983)";
            });
        });
                        
      </script>
      <h3>Star Wars: Episode VI - Return of the Jedi (1983)</h3>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Rogue One: A Star Wars Story (2016)" id="Rogue One: A Star Wars Story (2016)">
        <img src="{{ url_for('static', filename='Images/scrap/Rogue One: A Star Wars Story (2016).jpg') }}" alt="Movie: Rogue One: A Star Wars Story (2016)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Rogue One: A Star Wars Story (2016)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Rogue One: A Star Wars Story (2016)";
            });
        });
                        
      </script>
      <h3>Rogue One: A Star Wars Story (2016)</h3>
    </div>
    </div>
    <div class="movie-grid">
    <div class="moviecontainer">
      <a href="/_movie/Star Wars: Episode I - The Phantom Menace (1999)" id="Star Wars: Episode I - The Phantom Menace (1999)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Star Wars: Episode I - The Phantom Menace (1999)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Star Wars: Episode I - The Phantom Menace (1999)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Star Wars: Episode I - The Phantom Menace (1999)";
            });
        });
                        
      </script>
      <h3>Star Wars: Episode I - The Phantom Menace (1999)</h3>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Star Wars: Episode VII - The Force Awakens (2015)" id="Star Wars: Episode VII - The Force Awakens (2015)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Star Wars: Episode VII - The Force Awakens (2015)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Star Wars: Episode VII - The Force Awakens (2015)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Star Wars: Episode VII - The Force Awakens (2015)";
            });
        });
                        
      </script>
      <h3>Star Wars: Episode VII - The Force Awakens (2015)</h3>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Star Wars: The Last Jedi (2017)" id="Star Wars: The Last Jedi (2017)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Star Wars: The Last Jedi (2017)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Star Wars: The Last Jedi (2017)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Star Wars: The Last Jedi (2017)";
            });
        });
                        
      </script>
      <h3>Star Wars: The Last Jedi (2017)</h3>
    </div>
    <div class="moviecontainer">
      <a href="/_movie/Star Wars: Episode II - Attack of the Clones (2002)" id="Star Wars: Episode II - Attack of the Clones (2002)">
        <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Star Wars: Episode II - Attack of the Clones (2002)" />
      </a>
      <script>
        
        $(document).ready(function() {
            $("a[href='/_movie/Star Wars: Episode II - Attack of the Clones (2002)']").click(function(event) {
                event.preventDefault();
                // alert("yes");
                window.location.href = "/_movie/Star Wars: Episode II - Attack of the Clones (2002)";
            });
        });
                        
      </script>
      <h3>Star Wars: Episode II - Attack of the Clones (2002)</h3>
    </div>
    </div>
  </body>
  <h3 class="Titlegrid">Recommendation based on the movie similarities (Correlation) :</h3>
  <div class="movie-grid">
  <div class="moviecontainer">
    <a href="/_movie/Star Wars: Episode IV - A New Hope (1977)" id="Star Wars: Episode IV - A New Hope (1977)">
      <img src="{{ url_for('static', filename='Images/scrap/Star Wars: Episode IV - A New Hope (1977).jpg') }}" alt="Movie: Star Wars: Episode IV - A New Hope (1977)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Star Wars: Episode IV - A New Hope (1977)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Star Wars: Episode IV - A New Hope (1977)";
        });
    });
                    
    </script>
    <h3>Star Wars: Episode IV - A New Hope (1977)</h3>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Star Wars: Episode V - The Empire Strikes Back (1980)" id="Star Wars: Episode V - The Empire Strikes Back (1980)">
      <img src="{{ url_for('static', filename='Images/scrap/Star Wars: Episode V - The Empire Strikes Back (1980).jpg') }}" alt="Movie: Star Wars: Episode V - The Empire Strikes Back (1980)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Star Wars: Episode V - The Empire Strikes Back (1980)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Star Wars: Episode V - The Empire Strikes Back (1980)";
        });
    });
                    
    </script>
    <h3>Star Wars: Episode V - The Empire Strikes Back (1980)</h3>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Star Wars: Episode VI - Return of the Jedi (1983)" id="Star Wars: Episode VI - Return of the Jedi (1983)">
      <img src="{{ url_for('static', filename='Images/scrap/Star Wars: Episode VI - Return of the Jedi (1983).jpg') }}" alt="Movie: Star Wars: Episode VI - Return of the Jedi (1983)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Star Wars: Episode VI - Return of the Jedi (1983)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Star Wars: Episode VI - Return of the Jedi (1983)";
        });
    });
                    
    </script>
    <h3>Star Wars: Episode VI - Return of the Jedi (1983)</h3>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Auntie Mame (1958)" id="Auntie Mame (1958)">
      <img src="{{ url_for('static', filename='Images/scrap/Auntie Mame (1958).jpg') }}" alt="Movie: Auntie Mame (1958)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Auntie Mame (1958)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Auntie Mame (1958)";
        });
    });
                    
    </script>
    <h3>Auntie Mame (1958)</h3>
  </div>
  </div>
  <div class="movie-grid">
  <div class="moviecontainer">
    <a href="/_movie/American in Paris, An (1951)" id="American in Paris, An (1951)">
      <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: American in Paris, An (1951)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/American in Paris, An (1951)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/American in Paris, An (1951)";
        });
    });
                    
    </script>
    <h3>American in Paris, An (1951)</h3>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Pirates of Silicon Valley (1999)" id="Pirates of Silicon Valley (1999)">
      <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Pirates of Silicon Valley (1999)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Pirates of Silicon Valley (1999)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Pirates of Silicon Valley (1999)";
        });
    });
                    
    </script>
    <h3>Pirates of Silicon Valley (1999)</h3>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/Star Wars: Episode VII - The Force Awakens (2015)" id="Star Wars: Episode VII - The Force Awakens (2015)">
      <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: Star Wars: Episode VII - The Force Awakens (2015)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/Star Wars: Episode VII - The Force Awakens (2015)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/Star Wars: Episode VII - The Force Awakens (2015)";
        });
    });
                    
    </script>
    <h3>Star Wars: Episode VII - The Force Awakens (2015)</h3>
  </div>
  <div class="moviecontainer">
    <a href="/_movie/War Room, The (1993)" id="War Room, The (1993)">
      <img src="{{ url_for('static', filename='Images/placeholder.png') }}" alt="Movie: War Room, The (1993)" />
    </a>
    <script>
      
    $(document).ready(function() {
        $("a[href='/_movie/War Room, The (1993)']").click(function(event) {
            event.preventDefault();
            // alert("yes");
            window.location.href = "/_movie/War Room, The (1993)";
        });
    });
                    
    </script>
    <h3>War Room, The (1993)</h3>
  </div>
  </div>
  <footer>
    <div class="container">
      <h3>The Recommendation website</h3>

      <img src="{{ url_for('static',filename='Images/ESME.jpg') }}" alt="Me" class="w3-image" style="display: block; margin: auto" width="100" height="100" />
      <h6><i>By Matteo Gentili and Robin Lotode</i></h6>
      <ul>
        <li>
          <a href="#">
            <i class="fab fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-google-plus-g" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-linkedin" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fab fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </div>
  </footer>
</html>